{% set obCartPositionList = Cart.get() %}

{% set priceData = obCartPositionList.getTotalPriceData().getData() %}

{% if obCartPositionList.isNotEmpty() %}
      {% for obCartPosition in obCartPositionList %}
         {% set obOffer = obCartPosition.offer %}
         <li class="collection-item display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
               <span class="avatar-status avatar-online avatar-50"><img src="{{obOffer.product.preview_image.path}}" alt="avatar">
               </span>
               <div class="user-content">
                  <p class="mb-0">{{ str_words(obOffer.name, "5", "...") }}</p>
                  <p class="medium-small text-lighten-3 pt-3">
                     <span class="font-weight-900">
                        Precio: </span>{{ obOffer.currency }}{{ obOffer.price }} - 
                     <span class="font-weight-900 ">
                        Cantidad: </span>{{ obCartPosition.quantity }}
                  </p>
               </div>
               <span class="secondary-content medium-small remove-from-cart" data-offer-id="{{obOffer.id}}">x</span>
            </li>
         {#
            <div>
               Total: {{ obCartPosition.currency }}{{ obCartPosition.price }}
               
              
            </div>
         #}
         {% endfor %}
         <hr>
      <div class="center-align">
         <h5>Total: {{ obCartPositionList.getCurrency() }}{{ obCartPositionList.getTotalPrice() }}</h5>
         {% if priceData.tax_price  %}
         <h6><strong>Impuestos:</strong> {{priceData.tax_price}}</h6>
         {% endif %}
         <br>
        
         <a href="#" class="clear-cart btn btn-flat">Limpiar</a>    
         <a href="{{ 'carrito'|page }}" class="waves-effect waves-light btn gradient-45deg-indigo-blue">COMPRAR</a>   
   
      </div>
      
{% else %}
   <div class="center-align">Carrito vacío</div>
{% endif %}
