<div class="pt-1 pb-0" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h5 class="breadcrumbs-title">{{obCategory.name}}</h5>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li><a href="{{ 'index'|page }}">Home</a></li>
                    {% for arItem in arBreadcrumbs %}
                    <li data-id="{{ arItem.id }}" class="breadcrumb-item">  
                        {% if arItem.active %}
                            <span class="font-weight-900">{{ arItem.name }}</span>
                        {% else %}
                            <a href="{{ 'categoria'|page({slug: arItem.slug }) }}">{{ arItem.name }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>