[viewBag]
snippetCode = "category-list"
snippetName = "Category List"
snippetProperties[codes][title] = "External ID's"
snippetProperties[codes][type] = "string"
snippetProperties[codes][default] = ""
snippetProperties[codes][options][] = ""

[CategoryList]
==
{% component 'CategoryList' %}

{% set spaceLess = codes|replace({' ': ''}) %}

{% set arExternalCodes = spaceLess|split(',') %}

{% set obCategoryList = CategoryList.make().getByExternalId(arExternalCodes) %}

  <div class="row">
    <!-- Blog Style One -->
    
    {% for obCategory in obCategoryList  %}
    <!-- Fashion Card -->
    <div class="col s12 m6 l4">
      <div class="card-panel border-radius-6 mt-10 card-animation-1">
        <a href="{{ 'categoria'|page({slug: obCategory.slug }) }}"><img class="responsive-img border-radius-8 z-depth-4 image-n-margin" src="{{obCategory.preview_image.thumb(800,500,'crop')}}" alt=""></a>
        <h6 class="deep-purple-text text-darken-3 mt-5"><a href="{{ 'categoria'|page({slug: obCategory.slug }) }}">{{obCategory.name}}</a></h6>
        <span>{{obCategory.preview_text}}</span>
      </div>
    </div>
    {% endfor %}
    <!-- Blog Style Two -->
  </div>