[CategoryList]

[viewBag]
==

{% set obCategoryList = CategoryList.make().tree() %}
<nav class="white hide-on-small-only" id="horizontal-nav">
    <div class="nav-wrapper">
            <ul class="" id="ul-horizontal-nav" data-menu="menu-navigation">
        {% for obCategory in obCategoryList  %}
        <li>
            <a href="{{ 'categoria'|page({slug: obCategory.slug }, false) }}">
            <i class="material-icons">{{obCategory.code}}</i>
            <span>{{obCategory.name}}{#<i class="material-icons right">keyboard_arrow_down</i>#}</span>
            </a>
        </li>
        {% endfor %}
        
        </ul>
        
    </div>
<!-- END: Horizontal nav start-->
</nav>