
[viewBag]
searchParam = "{{:q}}"
==

{% if obProductList %}
{% set brandsRes = getBrandsFromResult(obProductList) %}

{% if base == "category" %}
    {% set obCategory = CategoryPage.get() %}

{% elseif base == "promo" %}
    {% set obPromoBlock = PromoBlockPage.get() %}

{% elseif base == "brand" %}
    {% set obBrand = BrandPage.get() %}
{% endif %}
<div class="card-content">
    <form action="#" class="filter-form" data-type="{{base}}">
        <input type="hidden" name="base" value="{{base}}">
        {% if base == "category" %}
        <input type="hidden" name="basev" value="{{obCategory.id}}">
        {% elseif base == "promo" %}
        <input type="hidden" name="basev" value="{{obPromoBlock.id}}">
        {% elseif base == "search" %}
        <input type="hidden" name="basev" value="{{viewBag.searchParam}}">
        {% elseif base == "brand" %}
        <input type="hidden" name="basev" value="{{obBrand.id}}">
        {% endif %}
        
        <span class="card-title mt-10">Orden</span>
        <hr>
        <div class="input-field col s12">
            <select class="filter-control" data-type="sort" name="sort">
                <option value="1">Más Reciente</option>
                <option value="2">Menor Precio</option>
                <option value="3">Mayor Precio</option>
            </select>
        </div>
        
        {% if obCategory.children.isNotEmpty() %}
        <span class="card-title">Categorias</span>
        <hr>
        <ul>
        {% for obChildCategory in obCategory.children %}
            <li>
                <label>
                    <input type="checkbox" value="{{obChildCategory.id}}" name="category_{{obChildCategory.id}}"
                    class="filter-control" data-type="category">
                    <span>{{obChildCategory.name}}</span>
                </label>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if brandsRes.count > 0 %}
        <span class="card-title mt-10">Marcas</span>
        <hr>
        <div class="display-grid">
        {% for obBrand in brandsRes %}
            <label>
                <input type="checkbox" value="{{obBrand.id}}" name="brand_{{obBrand.id}}"
                class="filter-control" data-type="brand">
                <span>{{obBrand.name}}</span>
            </label>
        {% endfor %}
        </div>
        {% endif %}
    </form>
</div>
{% endif %}


