description = "barra de navegacion principal"

[viewBag]

[SearchHandler]
mode = "query"
search_param = "{{ :q }}"
main_page = "busqueda"
==
<header>
<div class="navbar navbar-fixed"> 
    <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-red-deep-blue ">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
              <a class="brand-logo darken-1 " href="{{'home-2'|staticPage }}">
                <div class="valign-wrapper">
                    <img src="{{ 'brand/farma-estes-logo-peq.png'|media }}" alt="Farmacia Estes">
                    <span class="logo-text hide-on-med-and-down">Farmacia Este</span>
                </div>
                
              </a>
            </h1>
          </li>
        </ul>
        {% component 'SearchHandler' %}
        <div class="header-search-wrapper hide-on-med-and-down">
          <form id="search-form" class="search-form">
            <div class="input-field">
              <input class="header-search-input z-depth-2 autocomplete" 
            type="text" value="{{search}}" name="search" id="autocomplete-input" autocomplete="off"
             placeholder="Explora la tienda">
             <input type="hidden" name="currentpage" value="{{ this.page.baseFileName }}">
            </div>
          </form>
          
        </div>
        
        
        <ul class="navbar-list right" id="notification-wrapper">
          <li class="hide-on-large-only">
              <a class="waves-effect waves-block waves-light search-button" href="javascript:void(0);">
                  <i class="material-icons">search</i>.
              </a>
          </li>
            
          {% partial 'nav-notifications' %}
        </ul>
        
        <!-- notifications-dropdown-->
        <ul class="dropdown-content" id="notifications-dropdown">
          <li>
              {% set obCartPositionList = Cart.get() %}
          </li>
        </ul>
        {% partial 'categories-submenu' %}
      </div>
      <nav class="display-none search-sm">
        <div class="nav-wrapper">
          <form id="search-form-mobile" class="search-form">
            <div class="input-field search-input-sm">
              <input class="search-box-sm autocomplete" type="search" name="search" 
              autocomplete="off" id="search" placeholder="Explora la tienda" data-search="template-list">
              <label class="label-icon active" for="search"></label><i class="material-icons search-sm-close">close</i>

            </div>
          </form>
        </div>
      </nav>
    </nav>
    
  </div>
</header>