[CurrencyList]

[viewBag]
==
{% set obCartPositionList = Cart.get() %}
 
{% set obCurrencyList = CurrencyList.make().sort().active() %}
{% if obCurrencyList.isNotEmpty() %}
    {#<ul class="currency-list-wrapper">
       
    </ul>#}
{% endif %}


    <li><a class="waves-effect waves-block waves-light sidenav-trigger" href="#" data-target="slide-out-right">
            <i class="material-icons">local_grocery_store
            {% if obCartPositionList.count > 0 %}
                <small class="notification-badge orange z-depth-3">{{obCartPositionList.count}}</small>
            {% endif %}
            </i>
        </a>
    </li>
    <li>
        <a class="waves-effect waves-block waves-light profile-button sidenav-trigger" href="javascript:void(0);" data-target="profile-dropdown">
            <i class="material-icons">account_circle</i> 
        </a>
        
        <ul class="dropdown-content" id="profile-dropdown">
        
        {% set obUser = UserData.get %}
        {% if obUser.isNotEmpty %}
            <li tabindex="0"><a class="grey-text text-darken-1" href="{{ 'user/perfil'|page}}"><i class="material-icons">person_outline</i> Perfil</a></li>
            <li class="divider" tabindex="0"></li>
            <li tabindex="0"><a class="grey-text text-darken-1" href="#" id="logout"><i class="material-icons">keyboard_tab</i> Salir</a></li>
        {% else %}
        <li tabindex="0"><a class="grey-text text-darken-1" href="{{ 'user/login'|page}}"><i class="material-icons">people_outline</i>Iniciar sesión</a></li>
        {% endif %}
        </ul>
    </li>
   
    <li>
        <a class="waves-effect waves-block waves-light sidenav-trigger dropdown-menu" href="javascript:void(0);" data-target="currency-dropdown">
            <i class="material-icons">attach_money</i> 
        </a>
        
        <ul class="dropdown-content" id="currency-dropdown">
            
            {% for obCurrency in obCurrencyList %}
            <li tabindex="0">
                <a class="grey-text text-darken-1 currency-option" data-code="{{ obCurrency.code }}" href="#">
                    {{obCurrency.name}}
                </a>
            </li>
           
            {% endfor %}

        
        </ul>
    </li>