[LocationManager]

[UserAddress]

==
{% set obUser = UserData.get %}
{% set addresses = obUser.address() %}

{% set countries = LocationManager.countries(null, true) %}
{# {% set states = LocationManager.states() %}#}

{% set selectedAddress = null %}

{% for address in addresses %}
    {# {{dump(address.id)}} #}
    {% if address.id == selectedAddressId %}
        
        {% set selectedAddress = address %}
    {% endif %}
{% endfor %}

<div class="row">
    <div class="input-field col s12 m6">
        <select id="billing-countries-select" name="billing_country" class="browser-default">
            <option value="" disabled>Elige un país</option>
            {% for country in countries %} 
                <option value="{{country.name}}" {{country.name|lower == selectedAddress.country|lower ? 'selected' }}>{{country.name}}</option>
            {% endfor %}
        </select>

    </div>
    <div class="col m6" id="billing-states-options-content">
        {% partial  'cart/states-options' selectedState = selectedAddress.state type ='billing' %}
    </div>
</div>

<div class="row">
   
    <div class="col m6 s12" id="billing-cities-options-content">
        {% partial  'cart/cities-options' selectedCity = selectedAddress.city type ='billing' %}
    </div>

    <div class="input-field col m6 s12">
        <textarea id="textarea2" name="billing_address1" class="materialize-textarea active" required>{{selectedAddress.address1}}</textarea>
        <span class="helper-text">(opcional)</span>

    </div>
</div>

