[MakeOrder]

[viewBag]
==
{% set obCartPositionList = Cart.get() %}
{% set priceData = obCartPositionList.getTotalPriceData().getData() %}


{% if obCartPositionList.count > 0 %}

    <div class="col s12 m12 l12 card-width">
            <div class="card gradient-shadow ">
                <div class="col s7 m7 mt-2">
                        <i class="material-icons background-round">add_shopping_cart</i>
                </div>
                <div class="col s5 m5 right-align">
                        <h5 class="mb-0">Total {{priceData.price}}</h5>
                        <p class="">Impuestos {{priceData.tax_price}}</p>
                        
                </div>
            </div>
    </div>
{% endif %}