{% set obCartPositionList = Cart.get() %}

{% if obCartPositionList.isNotEmpty() %}

    {% for obCartPosition in obCartPositionList %}
    
    {% set obOffer = obCartPosition.offer %}
 

    <div class="col s12 m12 12">
        <div class="card horizontal">
            <div class="card-image responsive-img">
                <img src="{{ obOffer.product.preview_image.thumb(100,100,'crop') }}" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">   
                    <p>
                        <span class="font-weight-900">{{obOffer.name}}</span>
                    </p>
                    <p class="quantity-text">
                        <span class="font-weight-700 ">Cantidad: </span>{{obCartPosition.quantity}} 
                    </p>
                    <a href="#!" class="secondary-content grey-text">{{ obOffer.currency }}{{ obOffer.price }}</a>
                </div>
                <div class="card-action">
                    <div class="col s12 m12 l12 right-align">
                        <a class="waves-effect waves-light btn-small product-trigger" data-product-id="{{obOffer.product.id}}">
                            <i class="material-icons">
                                <span>mode_edit</span>
                            </i>
                        </a>
                        <a class="waves-effect waves-light btn-small red remove-from-cart"
                            data-offer-id="{{obOffer.id}}"> 
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}