[LocationManager]
==

{% if type == "shipping" %}
    {% set cities = LocationManager.cities(1) %}
    {% if cities.count > 0 %}
    <div class="input-field">
        <select id="cities-select" name="{{type}}_city" class="location-options browser-default" {{disabled}} required>
            <option value="" disabled selected>Elige una ciudad</option>
            {% for city in cities %}
            <option value="{{city.name}}" {{city.name|lower == selectedCity|lower ? "selected" }}>{{city.name}}</option>
        {% endfor %}
        </select>
    </div>
    {% else %}
    <div class="input-field">
        <input name="{{type}}_city" type="text" class="validate active" placeholder="Ciudad" value="{{selectedCity}}" {{disabled}} required>
    </div>
    {% endif %}
{% else %}
    <div class="input-field">
        <input name="{{type}}_city" type="text" class="validate active" placeholder="Ciudad" value="{{selectedCity}}">
        <span class="helper-text">(opcional)</span>
    </div>
{% endif %}

