<div class="col s12 m12 l12">
        
    <div class="card-content center-align">
        <i class="material-icons medium amber-text mb-1">shopping_cart</i>
        <h5 class="mt-0"><b>Espera</b></h5>
        <p class="font-weight-900 mb-1">Tu carrito está vacío, visita nuestras categorias y encuentra
            todo lo que buscas
        </p>
        <p class="center-align">
            <a class="waves-effect waves-light btn mb-1" href="{{'index'|page}}">
                <i class="material-icons left">home</i> Inicio
            </a>
        </p>
    </div>

  </div>