{% set obShippingTypeList = ShippingTypeList.make().sort().active() %}
{% if obShippingTypeList.isNotEmpty() %}
{#
<div class="row">
    
    <ul class="collapsible">
        {% set checked = "checked" %}
        {% for obShippingType in obShippingTypeList %}
        <li class="{{checked == 'checked' ? 'active' : '' }}">
            <div class="collapsible-header  ">
                <label for="shipping-{{obShippingType.id}}">
                    <input type="radio" id="shipping-{{obShippingType.id}}" name="shipping_type_id"
                    class="shipping-type" value="{{obShippingType.id}}"
                    {{obShippingType.isAvailable() == false ? 'disabled' }} 
                    
                    {{checked}}
                    
                    {% if checked == "checked" and  obShippingType.isAvailable() == true %}
                        {% set checked = "" %}
                    {% endif %}
                    >
                    <span class="font-weight-900"></span>
                </label>
                <span class="font-weight-900" {{obShippingType.isAvailable() == false ? 'style="text-decoration: line-through"'}}>
                    {{ obShippingType.name }}
                </span>
            </div>
            <div class="collapsible-body">
                <span class="width-100 hide-on-med-and-down">{{obShippingType.preview_text}}</span>
                    <p class="width-100 hide-on-med-and-up">{{obShippingType.preview_text}}</p>
                    {% if obShippingType.isAvailable() == false %}
                    <div class="card-panel grey lighten-2 pt-1 pb-1">
                        <span class="black-text">
                            Restricciones: <br>
                            {% for restriction in obShippingType.restriction %} 
                                {% for shipping_restriction_def in  restrictions %}
                                    {% if restriction.code == shipping_restriction_def.code %}
                                    <span class="width-100">{{shipping_restriction_def.description}}</span>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
{% endif %}
</div>
#}


<ul class="collection">
    {% set checked = "checked" %}
    
    {% for obShippingType in obShippingTypeList %}
        <li class="collection-item avatar">
            <label for="shipping-{{obShippingType.id}}" class="pt-1">
                <div class="circle">
                    
                    <input type="radio" id="shipping-{{obShippingType.id}}" name="shipping_type_id"
                class="shipping-type" value="{{obShippingType.id}}"
                {{obShippingType.isAvailable() == false ? 'disabled' }} 
                
                {{checked}}
                
                {% if checked == "checked" and  obShippingType.isAvailable() == true %}
                    {% set checked = "" %}
                {% endif %}
                >
                <span class="font-weight-900"></span>
                </div>
                
            </label>
        <p class="title pb-1" style="text-decoration:{{obShippingType.isAvailable() == false ? 'line-through' }}">
            {{ obShippingType.name }} 
            <span class="{{obShippingType.price > 0 ? '': 'hide'}} ">({{ obShippingType.currency}}{{ obShippingType.price}})</span>
        </p>
        <p class="width-100">{{obShippingType.preview_text}}</p>
        {% if obShippingType.isAvailable() == false %}
        <div class="card-panel grey lighten-2 pt-1 pb-1">
            <span class="black-text">
                {% for restriction in obShippingType.restriction %} 
                    {% for shipping_restriction_def in  restrictions %}
                        {% if restriction.code == shipping_restriction_def.code %}
                        <span class="width-100">{{shipping_restriction_def.description}}</span>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </span>
        </div>
        {% endif %}
        {#<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>#}
        </li>
    {% endfor %}
    
  </ul>
  {% endif %}