[ShippingSettings]

[viewBag]
==
{% component 'ShippingSettings' %}
{% set allowedDays =  ShippingSettings.getAllowedDays() %}
{% set maxDate = ShippingSettings.getMaxShippingDate() %}
{% set dateBlocks = ShippingSettings.getTimeBlocks() %}
{% set startDate = ShippingSettings.getStartDate() %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var availableDaysStr = "{{allowedDays}}";
    var availableDaysArr = availableDaysStr.split(",");
    //console.log(availabelDaysArr);
    var dateOptions = {
    "firstDay": 1,
    "minDate": new Date("{{ startDate|date('F j, Y, g:i a', 'America/Caracas') }}"),
    "maxDate": new Date("{{ maxDate|date('F j, Y, g:i a', 'America/Caracas') }}"),
    "format": "dd/mm/yyyy",
    "autoClose": true,
    "i18n": {
      "weekdays" :['Domingo','Lunes','Martes','Miercoles','Jueves','Viernes','Sabado'],
      "weekdaysAbbrev": ['D','L','M','Mi','J','V','S'],
      "weekdaysShort": ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab", "Dom"],
      "months": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto",
            "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      "monthsShort": ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct",
      "Nov", "Dic"]
    },  
    'disableDayFn': function(date){
                if(isAllowedDay(date, availableDaysArr))
                  return false;
                else
                return true;
        },
    'onSelect': function(date){
      updateTimeBlock(date);
    },
       
    }
    
    var datepickers = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(datepickers, dateOptions);


  });
  function isAllowedDay(date, availableDaysArr){
    //console.log(availableDaysArr);
    for (let i = 0; i < availableDaysArr.length; i++) {
                   
      if (parseInt(availableDaysArr[i]) === date.getDay()) {
          //console.log((parseInt(availableDaysArr[i])+"-"+date.getDay())+"-"+i);
          return true;
          //break;
      }
          
    }
  }
  function updateTimeBlock(date){
    var currentDate = new Date();
    if(date.getDate() == currentDate.getDate()){
      //console.log("es hoy");
      $("#shippingTime option").each(function(index, value){
        var pivotDate = new Date();
        if($(value).val() !== ""){
          var hourInterval = $(value).val().split("-");
          var timeInterval = hourInterval[1].split(":");
          //pivotDate.setTime(hourInterval[1]);
          
         /* if (timeInterval[0]> 12) {
            var hour = timeInterval[0];
          }else{
            var hour = timeInterval[0];
          }*/
          
          var hour = timeInterval[0];

          pivotDate.setHours(hour, timeInterval[1], 0);
          var hora = currentDate.getHours() + ':' + currentDate.getMinutes() + ':' + currentDate.getSeconds();
          var horaPivot = pivotDate.getHours() + ':' + pivotDate.getMinutes() + ':' + pivotDate.getSeconds();
          
          
          //console.log("ahora actual:"+hora);
          //console.log("pivot :"+horaPivot);
          //console.log(currentDate.getDate()+"||"+pivotDate.getDate());
          var diff = Math.abs(pivotDate - currentDate)/36e5;
          console.log("diferencia:"+diff);
          if(currentDate.getHours() < 12 && diff >  1){

            console.log("diferencia1:",diff);
            $(value).prop("disabled", false);

          }else if(currentDate.getHours() > 12 && diff >  0   ){
            console.log("aqui caí2:"+diff+hora);
            $(value).prop("disabled", true);
          }else{
            console.log("aqui caí3:"+diff+hora);
            $(value).prop("disabled", false);
          }
            var hoy = currentDate.getFullYear()+'-'+(currentDate.getMonth()+1)+'-'+currentDate.getDate();
            var horaHoy = currentDate.getHours() + ":" + currentDate.getMinutes() + ":" + currentDate.getSeconds();

            var selected = pivotDate.getFullYear()+'-'+(pivotDate.getMonth()+1)+'-'+pivotDate.getDate();
            var horaSelected = pivotDate.getHours() + ":" + pivotDate.getMinutes() + ":" + pivotDate.getSeconds();
           /* console.log("hoy"+"||"+hoy+"||"+horaHoy);
            console.log("selected"+"||"+selected+"||"+horaSelected);
            console.log("------------------------------------------------");*/
        }
        
      });
    }else{
      $("#shippingTime option").each(function(index, value){
        if($(value).val() !== ""){
          $(value).prop("disabled", false);
        }
        
      });
    }
    //console.log(currentDate+$("#shippingTime").val()+"-esto");
    $("#shippingTime").val("");
    $("#shippingTime").formSelect();
    
  }
</script>
<div class="row">
    <div class="input-field col s12 m6 l6">
        <input type="text" class="datepicker" autocomplete="off" name="shipping_date" placeholder="Elige fecha de entrega o retiro" required>
        
      </div>
      <div class="input-field col s12 m6 l6 ">
        <select name="shipping_time" id="shippingTime" required>
          <option value="" disabled selected>Elige hora de entrega/retiro</option>
          {% for dates in dateBlocks %}
            {% if loop.last == false %}
            <option value="{{dates|date('H:i', 'America/Caracas')}}-{{dateBlocks[loop.index]|date('H:i', 'America/Caracas')}}">de {{dates|date('g:i a', 'America/Caracas')}} a {{dateBlocks[loop.index]|date('g:i a', 'America/Caracas')}}</option>
            {% endif %}  
          {% endfor %}
        </select>
      </div> 
</div>


