[LocationManager]

[UserAddress]

==
{% set obUser = UserData.get %}
{% set addresses = obUser.address() %}

{% set countries = LocationManager.countries() %}
{% set states = LocationManager.states() %}

{% set selectedAddress = null %}

{% for address in addresses %}
    {# {{dump(address.id)}} #}
    {% if address.id == selectedAddressId %}
        
        {% set selectedAddress = address %}
    {% endif %}
{% endfor %}

<div class="row">
   
    <div class="col m6" id="billing-cities-options-content">
        {% partial  'cart/cities-options' selectedCity = selectedAddress.city type ='shipping' %}
    </div>
    <div class="col m6">
        <div class="input-field col s12">
            <textarea id="textarea2" name="shipping_address1" class="materialize-textarea active" required>{{selectedAddress.address1}}</textarea>
            <label for="textarea2">Dirección</label>
        </div>
    </div>
</div>
