<div class="col s12 m12 l12 card-width">
        <div class="card border-radius-6">
              <div class="card-content center-align">
                    
                    <h5 class="mb-1 mt-0"><b>Espera</b></h5>
                    <p class="font-weight-900">Debes iniciar sesión o registrarte para concretar tu compra</p>
                    
                    <p class="center-align mt-2">
                        
                        <a class="btn-flat mb-1 waves-effect" href="{{'user/registro'|page}}">
                            <i class="material-icons right">person_add</i> Registro
                        </a>
                        <a class="waves-effect waves-light btn mb-1" href="{{'user/login'|page({ page: page, redirect: value }) }}">
                            <i class="material-icons left">assignment_ind</i> Ingresar
                        </a>
                    </p>
              </div>
        </div>
  </div>