{% if type == "shipping" %}
    {% if states.count > 0 %}
    <div class="input-field">
        <select id="states-select" name="{{type}}_state" class="location-options" 
        readonly="{{readonly}}" required>
            <option value="" disabled selected>Elige un estado {{type}}</option>
            
            {% for state in states %}
                <option value="{{state.id}}">{{state.name}}</option>
            {% endfor %}
            
        </select>
    </div>
    {% else %}
    <div class="input-field">
        <input name="{{type}}_state" type="text" placeholder="Estado" value="{{selectedState}}" 
        class="validate active" {{readonly == true ? readonly }}>
    </div>
{% endif %}
    <div class="input-field">
        <input name="{{type}}_state" type="text" placeholder="Estado" value="{{selectedState}}" 
        class="validate active" {{readonly == true ? readonly }}>

    </div>
{% else %}
<div class="input-field">
    <input name="{{type}}_state" type="text" placeholder="Estado" value="{{selectedState}}" 
    class="validate active" {{readonly == true ? readonly }}>
    <span class="helper-text">(opcional)</span>
</div>

{% endif %}


