
<div class="row">
    <ul id="projects-collection" class="collection">
        <li class="collection-item">
        
           <h6 class="collection-header ml-1">Cuentas disponibles</h6>
        
        </li>
        <li class="collection-item">
           <div class="row">
              <div class="col s12">
                 <p class="collections-title font-weight-600">BANESCO</p>
                 <div class="collections-content">
                     <ul>
                         <li>CUENTA CORRIENTE 0134-1104-24-0001008922 RIF J412238345</li>
                     </ul>
                 </div>
              </div>
           </div>
        </li>
        <li class="collection-item">
           <div class="row">
                <div class="col s12">
                 <p class="collections-title font-weight-600">BANPLUS</p>
                 <div class="collections-content">
                     <ul>
                         <li>CUENTA CORRIENTE 0174-0112-28-1124289891 RIF J412238345</li>
                     </ul>
                 </div>
               </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                 <div class="col s12">
                  <p class="collections-title font-weight-600">PAGO MOVÍL</p>
                  <div class="collections-content">
                      <ul>
                          <li>BANCO BANESCO 0134 TELEFONO 04123528183 RIF J412238345</li>
                      </ul>
                  </div>
                </div>
             </div>
         </li>
    </ul>
</div>