
<div class="row">
    <ul id="projects-collection" class="collection">
        <li class="collection-item">
        
           <h6 class="collection-header ml-1">ZELLE</h6>
        
        </li>
        <li class="collection-item">
           <div class="row">
              <div class="col s12">
                 
                 <div class="collections-content">
                     <ul>
                         <li>HAJEM ASSAD MAKLAD - makladhajem@hotmail.com</li>
                     </ul>
                 </div>
              </div>
           </div>
        </li>
    
    </ul>
</div>