<!-- Background Image News -->
<div class="row">
    <div class="container">
            <h5 class="ml-3"><i class="material-icons red-text darken-3"> class </i>
            Sigue nuestro Blog</h5>
    </div>  
             
        <!-- News 1 -->
        <div class="col s12 m6 l4">
          <div class="card-panel border-radius-6 white-text bg-image-1 pb-4">
            <p class="mt-0 mb-8"><b>Macro Infrared</b> Photographs Unlock The Depth Of Green In A Stunning Array Of Canary
              Island Plants</p>
            <div class="row mt-4">
              <div class="col s4 pr-0">
                <a href="#" class="white-text"> Read More</a>
              </div>
              <div class="col s8 mt-1 right-align social-icon">
                <span class="material-icons">favorite_border</span> <span class="ml-3 vertical-align-top">120</span>
                <span class="material-icons ml-10">chat_bubble_outline</span> <span class="ml-3 vertical-align-top">09</span>
              </div>
            </div>
          </div>
        </div>
        <!-- News 1 -->
        <div class="col s12 m6 l4">
          <div class="card-panel border-radius-6 white-text bg-image-2 pb-4">
            <p class="mt-0 mb-8"><b>Macro Infrared</b> Photographs Unlock The Depth Of Green In A Stunning Array Of Canary
              Island Plants</p>
            <div class="row mt-4">
              <div class="col s4 pr-0">
                <a href="#" class="white-text"> Read More</a>
              </div>
              <div class="col s8 mt-1 right-align social-icon">
                <span class="material-icons">favorite_border</span> <span class="ml-3 vertical-align-top">51</span>
                <span class="material-icons ml-10">chat_bubble_outline</span> <span class="ml-3 vertical-align-top">40</span>
              </div>
            </div>
          </div>
        </div>
        <!-- News 1 -->
        <div class="col s12 m6 l4">
          <div class="card-panel border-radius-6 white-text bg-image-3 pb-4">
            <p class="mt-0 mb-8"><b>Macro Infrared</b> Photographs Unlock The Depth Of Green In A Stunning Array Of Canary
              Island Plants</p>
            <div class="row mt-4">
              <div class="col s4 pr-0">
                <a href="#" class="white-text"> Read More</a>
              </div>
              <div class="col s8 mt-1 right-align social-icon">
                <span class="material-icons">favorite_border</span> <span class="ml-3 vertical-align-top">444</span>
                <span class="material-icons ml-10">chat_bubble_outline</span> <span class="ml-3 vertical-align-top">23</span>
              </div>
            </div>
          </div>
        </div>
      </div>