[viewBag]
title = "Home"
url = "/"
layout = "default"
is_hidden = 0
navigation_hidden = 0
meta_title = "Bienvenido a Farmaeste.com"
robot_index = "index"
robot_follow = "follow"
==
<figure data-inspector-id="inspectorid-371878076978" data-snippet="slider-home">&nbsp;</figure>
<div class="section pl-2">

	<h4 class="header">En FarmaEste estamos comprometidos con tu salud</h4>
	<figure data-inspector-id="inspectorid-1170857247681" data-property-codes="golosinas, bebidas-gaseosas, cuidado-personal" data-snippet="category-list">&nbsp;</figure>
	<div class="divider mt-2">
		<br>
	</div></div>
<div class="section pl-2">

	<h4 class="header">Ahorra con nuestras promos</h4>
	<figure data-inspector-id="inspectorid-351551674647" data-property-codes="" data-snippet="promos-card">&nbsp;</figure>
</div>
<div class="divider mt-2">
	<br>
</div>
<section>

	<h4 class="header">ENCUENTRAS AQUI LAS MEJORES MARCAS</h4>
	<figure data-inspector-id="inspectorid-323746093084" data-snippet="brands-home">&nbsp;</figure>
</section>
<div class="divider mt-2">
	<br>
</div>
<section>

	<h4 class="header">AÑADIDOS RECIENTEMENTE</h4>
	<figure data-snippet="recent-products">&nbsp;</figure>
</section>
<div class="divider mt-2">
	<br>
</div>
<section>

	<h4 class="header">NUESTRO BLOG</h4>
	<figure data-snippet="last-post">&nbsp;</figure>
</section>