[viewBag]
title = "Mantenimiento"
url = "/mantenimiento"
layout = "maintenance-layout"
is_hidden = 0
navigation_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="row">
	<div class="col s12">
		<div class="container">
			<div class="section p-0 m-0 height-100vh section-maintenance">
				<div class="row">
					<!-- Maintenance -->
					<div class="col s12 center-align white" id="maintenance"><img src="https://farmaeste.com/storage/app/media/paginas/maintenance.png" class="responsive-img maintenance-img fr-fic fr-dii" alt="">

						<h4 class="error-code">En mantenimiento</h4>

						<h6 class="mb-2 mt-2">Nos encontramos haciendo mejoras en nuestra web, próximamente estaremos en línea,
							<br>Vuelve más tarde.</h6>
					</div></div></div></div></div></div>