[viewBag]
title = "Quienes Somos"
url = "/quienes-somos"
layout = "default"
is_hidden = 0
navigation_hidden = 0
==
<div class="container section" id="faq">
	<div class="col s12" id="faq-search">
		<div class="card z-depth-0 faq-search-image center-align p-35" id="faq-search">
			<div class="card-content">

				<h5>Quienes somos</h5>

				<p class="mb-3">FarmaEste C.A J-412238345</p>
			</div></div></div>
	<div class="col s12 card-content-link">
		<div class="card z-depth-0 card-border-gray pb-3">
			<div class="card-content">
				<div class="row">
					<div class="col s12">

						<h5><i class="material-icons purple-text vertical-text-bottom">&nbsp;grade&nbsp;</i> MISION</h5>
						<br>
					</div>
					<div class="col s12 m12">

						<p>Somos una empresa dedicada a mantener la satisfacción de nuestros clientes, innovando y comercializando productos farmacéuticos de calidad, brindando un excelente servicio, y así contribuir al bienestar de las personas de nuestro Estado Nueva Esparta y de Venezuela.</p>
					</div></div></div></div></div>
	<div class="col s12 card-content-link">
		<div class="card z-depth-0 card-border-gray pb-3">
			<div class="card-content">
				<div class="row">
					<div class="col s12">

						<h5><i class="material-icons purple-text vertical-text-bottom">&nbsp;grade&nbsp;</i> VISION</h5>
						<br>
					</div>
					<div class="col s12 m12">

						<p>En Farmaeste queremos convertirnos en la empresa líder a nivel nacional de productos farmacéuticos garantizando confiabilidad, generando así bienestar y salud prestando el mejor servicio y formar el mejor equipo de trabajo con profesionalismo, honestidad y compromiso. Buscando ser la farmacia preferida de todos los Noespartanos.</p>
					</div></div></div></div></div>
	<div class="col s6 card-content-link">
		<div class="card z-depth-0 card-border-gray pb-3">
			<div class="card-content">
				<div class="row">
					<div class="col s12">

						<h5><i class="material-icons purple-text vertical-text-bottom">&nbsp;grade&nbsp;</i> VALORES</h5>
						<br>
					</div>
					<div class="col s12 m12">

						<p>Honestidad, responsabilidad, compromiso, respeto, cortesía, ética, confianza, calidad de servicio.</p>
					</div></div></div></div></div>
	<div class="col s6 card-content-link">
		<div class="card z-depth-0 card-border-gray pb-3">
			<div class="card-content">
				<div class="row">
					<div class="col s12">

						<h5><i class="material-icons purple-text vertical-text-bottom">&nbsp;grade&nbsp;</i> OBJETIVOS</h5>
						<br>
					</div>
					<div class="col s12 m6">

						<p class="mb-3"><i class="material-icons vertical-text-sub amber-text">&nbsp;panorama_fish_eye&nbsp;</i>Mantener la excelencia comercial y operativa</p>

						<p class="mb-3"><i class="material-icons vertical-text-sub amber-text">&nbsp;panorama_fish_eye&nbsp;</i>Crecer en la redes farmacéuticas como empresa líder</p>
					</div>
					<div class="col s12 m6">

						<p class="mb-3"><i class="material-icons vertical-text-sub amber-text">&nbsp;panorama_fish_eye&nbsp;</i>Innovar en sus relaciones comerciales, otorgando confianza y calidad de servicio a nuestros clientes.</p>

						<p class="mb-3"><i class="material-icons vertical-text-sub amber-text">&nbsp;panorama_fish_eye&nbsp;</i>Crear nuevos espacios dentro y fuera de nuestro Estado.</p>
					</div></div></div></div></div></div>