title = "login"
url = "/login/:page?/:redirect?"
layout = "login-register"
meta_title = "Login"
meta_description = "¡Inicia sesión y comienza a comprar ya!"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[Login]
mode = "ajax"
flash_on = 1
redirect_on = 1
==
<?php
function onStart(){
  $this["redirectPage"] = $this->param("page")."/".$this->param("redirect");
}
function onEnd(){
  
  $value = Session::get('buddies_user_auth');

  if($value != null){
    return Redirect::to('');
  }
}
?>
==
{% component 'Login'  %}

<div class="row">
  <div class="col s12">
    <div class="container">
      <div id="login-page" class="row">
        <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
          <form class="login-form" id="login-form">
            <div class="row">
              <div class="input-field col s12">
                <h5 class="ml-4">Iniciar Sesión</h5>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="material-icons prefix pt-2">person_outline</i>
                <input id="email" name="email" type="text">
                <label for="email" class="center-align">Email</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="material-icons prefix pt-2">lock_outline</i>
                <input id="password" name="password" type="password">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn waves-effect waves-light border-round
                 gradient-45deg-purple-deep-orange col s12" data-attach-loading>
                  Login
                </button>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"><a href="{{ 'user/registro'|page }}">¿No tienes cuenta? Regístrate!</a></p>
              </div>
              <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small"><a href="{{ 'user/password-reset'|page }}">Recuperar contraseña</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>