title = "recuperar contraseña"
url = "/recuperacion"
layout = "login-register"
is_hidden = 0

[RestorePassword]
mode = "ajax"
flash_on = 1
==
<?php
use Lovata\OrdersShopaholic\Classes\Collection\OrderCollection;

function onStart(){

  $value = Session::get('buddies_user_auth');

  if($value != null){
    return Redirect::to('');
  }
 $this->addCss([
    'assets/css/pages/forgot.css',
 ]);
 $this->addJs([
 'assets/js/user/password-reset.js',
]);
}
?>
==
<div class="vertical-layout page-header-light vertical-menu-collapsible vertical-gradient-menu 1-column forgot-bg  blank-page blank-page" data-open="click" data-menu="vertical-gradient-menu" data-col="1-column">
        <div class="row">
          <div class="col s12">
            <div class="container"><div id="forgot-password" class="row">
      <div class="col s12 m6 l4 z-depth-4 offset-m4 card-panel border-radius-6 forgot-card bg-opacity-8">
        <form class="login-form" id="restore-form">
          <div class="row">
            <div class="input-field col s12">
              <h5 class="ml-4">Recuperar contraseña</h5>
              <p class="ml-4">puedes hacer reset de tu contraseña facilmente</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix pt-2">person_outline</i>
              <input id="email" type="email" name="email">
              <label for="email" class="center-align">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12 mb-1">
                Recuperar
              </button>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 m6 l6">
              <p class="margin medium-small"><a href="user-login.html">Login</a></p>
            </div>
            <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="user-register.html">Register</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
            </div>
          </div>
        </div>
    </div>