title = "perfil"
url = "/perfil"
layout = "non-static-layout"
meta_title = "Perfil"
meta_description = "descripción"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[UserPage]
slug = "{{ :slug }}"
slug_required = 0
mode = "ajax"
flash_on = 1
login_page = "user/login"

[UserAddress]

[LocationManager]

[SearchHandler]
mode = "query"
main_page = "busqueda"

[PaymentsList]

[SeoCmsPage]
==
<?php
use Lovata\OrdersShopaholic\Classes\Collection\OrderCollection;
use Lovata\OrdersShopaholic\Classes\Collection\UserAddressCollection;
function onStart(){
 $this->addJs([
  'assets/vendors/data-tables/js/jquery.dataTables.js',
  'assets/js/user/profile.js',
  ]);

 $this->addCss([
    'assets/vendors/data-tables/css/jquery.dataTables.min.css',
    'assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css',
    'assets/css/pages/data-tables.css',
    'assets/css/pages/app-email.css',
    'assets/css/pages/app-sidebar.css',
 ]);

 //$this->addJs('assets/vendors/data-tables/js/dataTables.material.js');

 $this["orders"] = $obList = OrderCollection::make()->user();
 //$this["addresses"] = $obList = UserAddressCollection::make()->user();  
 
}
?>
==
{% set obUser = UserData.get %}
{#
<div class="row">
  <div class="col s12">
    <h5>{{obUser.name}} {{obUser.last_name}}</h5>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card" id="feed">
      <div class="card-content card-border-gray">
        <div class="row">
          <div class="col s12">
            <ul class="tabs card-border-gray mt-4">
              <li class="tab col m3 s6 p-0"><a href="#ordenes" class="active">
                  <i class="material-icons vertical-align-middle">event_note</i> Pedidos
                </a></li>
              <li class="tab col m3 s6 p-0"><a  href="#profile-tab">
                  <i class="material-icons vertical-align-middle">person_add</i>  Contacto
                </a></li>
              <li class="tab col m3 s6 p-0"><a href="#addresses">
                  <i class="material-icons vertical-align-middle">add_location</i> Direcciones
                </a></li>
              <li class="tab col m3 s6 p-0"><a href="#pagos-tab">
                  <i class="material-icons vertical-align-middle">credit_card</i> Pagos
                </a></li>
            </ul>
          </div>
        </div>
        <div id="ordenes" class="col s12">
            {% partial 'profile/orders-list' orders = orders%}
        </div>
        <div id="profile-tab" class="col s12 ">
            {% partial 'profile/profile-form' %}
        </div>

        <div id="pagos-tab" class="col s12">
          {% set payments = PaymentsList.getPayments() %}
          {{dump($payments)}}
        </div>
      </div> <!-- card content -->
    </div> <!-- feed -->
  </div><!-- row -->
</div> <!-- col 12 -->
#}

<div id="main" class="vertical-layout page-header-light vertical-menu-collapsible vertical-gradient-menu 2-columns  app-page"
  data-open="click" data-menu="vertical-gradient-menu" data-col="2-columns">
  <div class="row">
    <div class="content-wrapper-before blue-grey lighten-5"></div>
    <div class="col s12">
      <div class="container">
        <!-- Sidebar Area Starts -->
        <div class="sidebar-left sidebar-fixed">
            <div class="sidebar">
              <div class="sidebar-content">
                <div class="sidebar-header">
                  <div class="sidebar-details">
                    <h5 class="m-0 sidebar-title"><i class="material-icons app-header-icon text-top">mail_outline</i> Perfil</h5>
                    <div class="row valign-wrapper mt-10 pt-2 animate fadeLeft">
                      {#<div class="col s2 media-image">
                        <img src="../../../app-assets/images/user/12.jpg" alt="" class="circle z-depth-2 responsive-img">
                        <!-- notice the "circle" class -->
                      </div>#}
                      <div class="col s12 mt-3">
                        <p class="m-0 subtitle font-weight-700">{{obUser.name}} {{obUser.last_name}}</p>
                        <p class="m-0 text-muted">{{obUser.email}}</p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div id="sidebar-list" class="sidebar-menu list-group position-relative animate fadeLeft">
                  <div class="sidebar-list-padding app-sidebar sidenav" id="email-sidenav">
                    <ul class="email-list display-grid ">
                     
                      <li class="active">
                        <a href="#ordenes" data-target="orders" class="text-sub"><i class="material-icons mr-2"> event_note </i> Ordenes</a>
                      </li>
                      <li>
                        <a href="#!" data-target="contact" class="text-sub"><i class="material-icons mr-2"> person_add </i> Contacto</a>
                      </li>
                      <li>
                        <a href="#!" data-target="addresses" class="text-sub"><i class="material-icons mr-2"> add_location </i> Direcciones</a>
                      </li>
                      <li>
                        <a href="#!" data-target="payments" class="text-sub"><i class="material-icons mr-2"> credit_card </i> Pagos</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <a href="#" data-target="email-sidenav" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
              </div>
            </div>
          </div>
          <!-- Sidebar Area Ends -->

          <!-- Content Area Starts -->
          
          <div class="app-email">
              <div class="content-area content-right">
                  <div class="app-wrapper">
                      <div id="orders" class="content-section">
                        {% partial 'profile/orders-list' orders = orders%}
                      </div>
                      <div id="contact"class="content-section">
                          {% partial 'profile/profile-form' %}
                      </div>
                      <div id="addresses" class="content-section">
                          {% partial 'profile/addresses' obUser = obUser %}
                      </div>
                      <div id="payments" class="content-section">
                          {% set payments = PaymentsList.getPayments() %}
                          {% partial 'profile/user-payments' payments = payments %}
                      </div> 
                  </div>
              </div>
          </div>
            <!-- Content Area Ends -->
      </div>
    </div>
  </div>
</div>
{% set countries = LocationManager.countries(1) %}
{#{% set states = LocationManager.states(1) %}#}

<div id="modal-address-form" class="modal modal-fixed-footer" tabindex="0">
  <div id="placeholder" class="card card-default scrollspy mt-0 z-depth-0" >
    <div class="card-content">
      {#<h4 class="card-title">Nueva dirección</h4>#}
        <form class="col s12" id="address-form">
          <div class="row">
            <div class="card-panel grey lighten-2 pt-1 pb-1">
              <span class="black-text center-align">

                  <span class="width-100">Solo se permiten envíos dentro de la Isla de Margarita</span>
                
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col m6 s12 l6">
              <div class="row">
                  <div class="input-field">
                      <select id="type" name="type" class="address-type">
                        <option value="shipping">Dirección de envio</option>
                        <option value="billing">Dirección de facturación</option>
                      </select>
                      <label>Tipo de dirección</label>
                    </div>
              </div>
            </div>
            <div class="col m6 s12 l6">
              <div class="row">
                  <div class="input-field">
                    <input name="country" id="country" type="text" placeholder="País" value="VENEZUELA" class="active" readonly="true">
                </div>
              </div>
                
            </div>
             
          </div>
          
          <div class="row">
            {#<div class="col m6 s12 l6">
                <div class="row" id="states-options-content">
                    {% partial  'profile/states-options' %}
                  </div>
            </div>#}
              <div class="col m6 s12 l6" >
                <div class="row">
                  <div class="input-field">
                    <input name="state" id="state" type="text" placeholder="Estado" value="NUEVA ESPARTA" class="active" readonly="true">
                  </div>
                </div>
                
              </div>
              <div class="col m6 s12 l6" >

                  <div class="row" id="cities-options-content">
                      {% set cities = LocationManager.cities(1) %}
                      {% partial  'profile/cities-options' cities = cities %}
                    </div> 
                    <div class="row hide" id="city-text-content">
                      <div class="input-field">
                        <input name="city" type="text" placeholder="Ciudad" class="validate active" value="{{selectedCity}}" {{disabled}}>
                    </div>
                    </div>
              </div>
          </div>
          
          <div class="row">
            <div class="input-field">
              <textarea name="address1" placeholder="Describe aqui tu dirección" class="materialize-textarea"></textarea>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light right">Guardar
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>