title = "registro"
url = "/registro"
layout = "login-register"
meta_title = "Registro"
meta_description = "¡Únete a la familia Farmaeste!"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[Registration]
mode = "ajax"
flash_on = 0
redirect_on = 1
redirect_page = "index"
activation = "activation_mail"
force_login = 1
==
<?php
function onEnd(){
  //Session::forget("buddies_user_auth");
  $value = Session::get('buddies_user_auth');
  
  if($value != null){
    return Redirect::to('');
  }
}
?>
==
<div class="vertical-layout page-header-light vertical-menu-collapsible vertical-gradient-menu 1-column register-bg  blank-page blank-page" data-open="click" data-menu="vertical-gradient-menu" data-col="1-column">
  <div class="row">
    <div class="col s12">
      <div class="container">
        <div id="register-page" class="row">
            <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 register-card bg-opacity-8">
              <form class="login-form" id="register-form">
                <div class="row">
                  <div class="input-field col s12">
                    <h5 class="ml-4">Registro</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12 ">
                    <i class="material-icons prefix pt-2">person_outline</i>
                    <input id="name" type="text" name="name">
                    <label for="name" class="center-align">Nombre</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix pt-2">person_outline</i>
                      <input id="lastname" type="text" name="last_name">
                      <label for="lastname" class="center-align">Apellido</label>
                    </div>
                  </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix pt-2">mail_outline</i>
                    <input id="email" type="email" name="email">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix pt-2">lock_outline</i>
                    <input id="password" type="password" name="password">
                    <label for="password">Password</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix pt-2">lock_outline</i>
                    <input id="password-again" type="password" name="password_confirmation">
                    <label for="password-again">Password again</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">
                      Enviar
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <p class="margin medium-small"><a href="{{ 'user/login'|page }}">¿Ya tienes una cuenta? inicia sesión</a></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
                  </div>
                </div>
              </div>

</div>