title = "restauracion"
url = "/restauracion/:slug"
layout = "login-register"
description = "restauración de contraseña"
meta_title = "Reestablecer contraseña"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[ResetPassword]
slug = "{{ :slug }}"
slug_required = 1
mode = "ajax"
redirect_on = 1
redirect_page = "user/perfil"
==
<?php
function onStart(){

  $value = Session::get('buddies_user_auth');

  if($value != null){
    return Redirect::to('');
  }
 $this->addJs([
 'assets/js/user/password-reset.js',
]);
}
?>
==
<div class="row">
  <div class="col s12">
    <div class="container">
      <div id="login-page" class="row">
        <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
          <form class="login-form" id="reset-form">
            <div class="row">
              <div class="input-field col s12">
                <h5 class="ml-4">Restauración de contraseña</h5>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix pt-2">lock_outline</i>
                <input id="password" type="password" name="password">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix pt-2">lock_outline</i>
                <input id="password-again" type="password" name="password_confirmation">
                <label for="password-again">Password again</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn waves-effect waves-light border-round
                 gradient-45deg-purple-deep-orange col s12" data-attach-loading>
                  Restaurar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>