/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
#slide-out-right.sidenav #messages .collection ul.collection li {
	cursor:inherit;
}
#slide-out-right.sidenav #messages .collection ul.collection li .secondary-content {
	top: 0.6rem;
	cursor:pointer;
}
.prise-text-style{
	text-decoration: line-through;
	color: #c1c1c1 !important;
}
.main-product .carousel{
	height: 300px;
}
.owl-carousel  .card-content .btn {
	display: inline-table;
	width: 100%;
 }
 

 .modal{
	max-height: 85% ;
 }

 #product-modal-form .modal.modal-fixed-footer {
	height: 80%;
	padding: 0;
 }

 #modal-address-form-window, #modal-billing-address-form-window {
	height: auto;
 }
 
 .navbar .header-search-wrapper i{
	left:inherit;
	right:26px;
 }
 .navbar input.header-search-input {
	padding: 8px 8px 8px 12px;
	width: 95%;
 }
 
 .pointer{
	cursor: pointer;
 }

 header .brand-logo img {
	height: 36px;
 }
 header .brand-logo {
	padding: 12px;
 }

 #slide-out-left .sidenav {
    top: 0 ;
    width: 340px;
    padding-bottom: 0;
}
.sidenav li{
	line-height: 25px;
}
#slide-out-left .card{
	margin: 0;
	box-shadow: none;
}

.modal .modal-content {
    padding: 12px;
}

.cart-overview .btn-small {
	padding: 0 0.5rem;
}

.cart-overview input {
	text-align:center;
}

.cart-overview .quantity-text{
	font-size: 0.8rem;
}

#horizontal-nav{
	padding-left: 13%;
}

.gradient-45deg-red-deep-blue{
	background: linear-gradient(45deg, #b20000, #202fd2) !important;
}
#index-services i{
	display: inline-flex;
    vertical-align: bottom;
}
#ecommerce-products .prise-text-style{
	font-size: inherit;
}
#menu-side-trigger{
	margin-left: 25%;
    margin-top: 15%;
}

.navbar-fixed #horizontal-nav {
    margin-top: 14px;
}

.app-email .action-icons {
	width: 100px !important;
}

#shipping-list-content .collection .collection-item{
	padding-top:10px;
	padding-bottom:5px;
}

#slide-out-right.sidenav #messages .collection
{
    /*max-height: auto !important;*/
}

ul.stepper.horizontal {
	min-height: 480;
 }

.carousel-item .caption-text{
	text-shadow: 2px 2px 2px #565656;
}

.collection .collection-item.avatar{
	padding-left: 60px;
	min-height: auto;
}
#shipping-list-content .collection .collection-item{
	//padding: 10px 20px;
}

.tab-methods i{
	margin-top: 12px;
}

.carousel-slider h3{
	white-space: normal;
    font-size: 38px;
    line-height: 38px;
}
@media only screen and (max-width : 600px){
	.cart-overview .card.horizontal{
		display: block;
	}

	.cart-overview .card.horizontal .card-image{
		position: relative;
		max-width: 100%;
		width:100%;
		margin-left: 2em;
	}

	
}

.brand-img{
	border: 1px solid #eee;
}
@media only screen and (max-width : 780px){
	#horizontal-nav{
		padding-left: 10%;
	}
}

@media only screen and (min-width: 993px){
	ul.stepper.horizontal .step .step-content{
		height: auto !important;
	}
}