description = "layout de login y registro"

[UserData]

[Logout]
mode = "ajax"
redirect_on = 1
redirect_page = "index"

[SearchHandler]
mode = "query"

[SeoCmsPage]
==
<!DOCTYPE html>
<html class="loading" lang="es" data-textdirection="ltr">
    <head>
        {% if seo_props %}
            {% partial "misc/dynamic-seo" %}
        {% else %}
            {% component 'SeoCmsPage' %}
        {% endif %}
        <!-- Disable tap highlight on IE -->
        <meta name="msapplication-tap-highlight" content="no">
        
        {#<link rel="apple-touch-icon" href="../../../app-assets/images/favicon/apple-touch-icon-152x152.png">
        <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/favicon/favicon-32x32.png">#}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link href="{{ [
            'assets/vendors/vendors.min.css',
            'assets/vendors/sweetalert/sweetalert.css',
            'assets/css/layouts/style-horizontal.css',
            'assets/css/themes/horizontal-menu-template/materialize.css',
            'assets/css/themes/horizontal-menu-template/style.css',
            'assets/css/owl.theme.default.min.css',
            'assets/css/pages/login.css',
            'assets/css/pages/register.css',
            'assets/css/custom/custom.css'
        ]|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body class="vertical-layout page-header-light vertical-menu-collapsible vertical-gradient-menu 1-column login-bg  blank-page blank-page" data-open="click" data-menu="vertical-gradient-menu" data-col="1-column">
    
    {% page %}
    
    
    
    <script src="{{ [
        'assets/js/vendors.min.js',
        'assets/js/plugins.js',
        'assets/js/custom/custom-script.js',
        'assets/js/scripts/advance-ui-modals.js',
        'assets/vendors/sweetalert/sweetalert.min.js',
        'assets/js/scripts/extra-components-sweetalert.js',
        'assets/js/dictionary.js',
        'assets/vendors/translator/jqueryTranslator.min.js',
        'assets/js/user/login-register.js',
        

    ]|theme }}"></script>

    {% framework extras %}
    {% scripts %}
        
    </body>
</html>