description = "layout maintenance web"

[staticPage]
useContent = 1
default = 0

[SeoStaticPage]
==
<!DOCTYPE html>
<html class="loading" lang="es" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>

    {% if seo_props %}
            
        {% partial "misc/dynamic-seo" %}
    {% else %}
      {% component 'SeoStaticPage' %}
    {% endif %}
    <meta name="msapplication-tap-highlight" content="no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link href="{{ [
        'assets/vendors/vendors.min.css',
        'assets/css/layouts/style-horizontal.css',
        'assets/css/themes/horizontal-menu-template/materialize.css',
        'assets/css/themes/horizontal-menu-template/style.css',
        'assets/css/pages/page-maintenance.css',
        'assets/css/custom/custom.css'
    ]|theme }}" rel="stylesheet">
    {% styles %}
   
  </head>
  <!-- END: Head-->
  <body class="horizontal-layout page-header-light horizontal-menu 1-column   blank-page blank-page" data-open="click" data-menu="horizontal-menu" data-col="1-column">
     {% page %}
    <script src="{{ [
      'assets/js/vendors.min.js',
      'assets/js/plugins.js',
      'assets/js/custom/custom-script.js',
  ]|theme }}"></script>

  
  {% scripts %}
  {% framework extras %}
  </body>
</html>