description = "Layout for cms pages"

[CurrencyList]

[SearchHandler]
mode = "query"

[Cart]

[ProductHandler]

[UserData]

[Logout]
==
{% component 'ProductHandler' %}

<html>
    <head>
        {% component 'SeoCmsPage' %}
        {% if seo_props %}
            
            {% partial "misc/dynamic-seo" %}
        {% else %}
          {% component 'SeoStaticPage' %}
        {% endif %}
        <meta name="msapplication-tap-highlight" content="no">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
       
        <link href="{{ [
            'assets/vendors/vendors.min.css',
            'assets/vendors/sweetalert/sweetalert.css',
            'assets/vendors/ionRangeSlider/css/ion.rangeSlider.css',
            'assets/vendors/ionRangeSlider/css/ion.rangeSlider.skinFlat.css',
            'assets/css/layouts/style-horizontal.css',
            'assets/css/themes/horizontal-menu-template/materialize.css',
            'assets/css/themes/horizontal-menu-template/style.css',
            'assets/css/pages/eCommerce-products-page.css',
            'assets/css/pages/page-faq.css',
            'assets/css/owl.carousel.min.css',
            'assets/css/owl.theme.default.min.css',
            'assets/vendors/magnific-popup/magnific-popup.css',
            'assets/vendors/materialize-stepper/materialize-stepper.min.css',
            'assets/vendors/dropify/css/dropify.min.css',
            'assets/css/custom/custom.css'
        ]|theme }}" rel="stylesheet">
        {% styles %}
        
    </head>
    <body>
        {% component 'Cart' %}
        <div class="notification-wrapper">
            {% partial 'main-nav' search = viewBag.searchParam %}
        </div>
            {% partial 'side-menus/side-submenu' %}
        <div id="main">
           
            {% page %}
        </div>
        

        <div id="modal-product" class="modal modal-fixed-footer modal-product" tabindex="0">
            <div class="pt-2">
               
            </div>
        </div>
        {#
         <footer class="page-footer footer footer-static footer-dark  gradient-shadow navbar-border navbar-shadow">
               <div class="footer-copyright">
                     <div class="container"><span>© 2019 AQOSS All rights reserved.</span></div>
               </div>
            </footer>
         #}

         <footer class="page-footer grey darken-4">
               <div class="container">
                 <div class="row">
                   <div class="col l6 s12">
                     <h5 class="white-text">Farmacia Estes</h5>
                     <p class="grey-text text-lighten-4">
                        Av. La Auyama, Hospital Clínicas del Este en Porlamar. <br>
                        Porlamar 6301. <br>
                        0295-267.62.83 - 0412-352.81.83
                     </p>
           
           
                   </div>
                   <div class="col l3 s12">
                     <h5 class="white-text">Sobre nosotros</h5>
                     <ul>
                       <li><a class="white-text" href="{{ 'quienes-somos'|staticPage }}">Quienes Somos</a></li>
                       {#<li><a class="white-text" href="#!">Contacto</a></li>#}
                       <li><a class="white-text" href="{{'blog'|page}}">Blog</a></li>
                     </ul>
                   </div>
                   <div class="col l3 s12">
                     <h5 class="white-text">Síguenos</h5>
                     <ul>
                       <li><a class="white-text" href="#!">@farmaciaestes</a></li>
                     </ul>
                   </div>
                 </div>
               </div>
               <div class="footer-copyright">
                 <div class="container">
                  
                 </div>
               </div>
             </footer>
           
        

        <aside id="right-sidebar-nav">

                <div id="slide-out-right" class="slide-out-right-sidenav sidenav rightside-navigation right-aligned">
                   <div class="row">
                      <div class="slide-out-right-title">
                         <div class="col s12 border-bottom-1 pb-0 pt-1">
                            <div class="row">
                               <div class="col s2 pr-0 center">
                                  <i class="material-icons vertical-text-middle"><a href="#" class="sidenav-close">clear</a></i>
                               </div>
                               <div class="col s10 pl-0">
                                  <ul class="tabs">
                                     <li class="tab col s4 p-0">
                                        <a href="#messages" class="active">
                                           <span>Carrito</span>
                                        </a>
                                     </li>
                                  <li class="indicator" style="left: 0px; right: 188px;"></li></ul>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="slide-out-right-body ps ps--active-y">
                         <div id="messages" class="col s12 active">
                            <div class="collection border-none" id="content-cart-list"> <!--aqui van-->
                               <ul class="collection p-0 cart-item-wrapper">
                               {% partial 'aside-options' %}
                               </ul>
                            </div>
                         </div>
                      
                   </div>
                </div>
             </aside>
         
        <script src="{{ [
            'assets/js/vendors.min.js',
            'assets/js/plugins.js',
            'assets/js/custom/custom-script.js',
            'assets/js/scripts/advance-ui-modals.js',
            'assets/js/custom-messages.js',
            'assets/js/custom-purchase.js',
            'assets/js/user/login-register.js',
            'assets/js/search-management.js',
            'assets/js/owl.carousel.min.js',
            'assets/vendors/sweetalert/sweetalert.min.js',
            'assets/vendors/ionRangeSlider/js/ion.rangeSlider.min.js',
            'assets/vendors/magnific-popup/jquery.magnific-popup.min.js',
            'assets/vendors/materialize-stepper/materialize-stepper.min.js',
            'assets/vendors/dropify/js/dropify.min.js',
            'assets/js/scripts/extra-components-sweetalert.js',
            'assets/js/dictionary.js',
            'assets/vendors/translator/jqueryTranslator.min.js',
            'assets/js/product-management.js',

        ]|theme }}"></script>
    
        
        {% scripts %}
        {% framework extras %}
    </body>
</html>