title = "Categoria"
url = "/blog/categoria/:slug/:page?"
layout = "default"
description = "categoria de post"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/categoria"
postPage = "post"
==
<div class="section" id="faq">

  {% partial 'blog/header' img = "algo" blogPosts = blogPosts %}
  
</div>
<div class="row">

  <div class="col s12 m12 l12">
    {% partial 'blog/posts' blogPosts = blogPosts  %}
  </div>
</div>