title = 404
url = "/404"
layout = "error-layout"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="row">
	<div class="col s12">
		<div class="container">
			<div class="section section-404 p-0 m-0 height-100vh">
				<div class="row">
					<!-- 404 -->
					<div class="col s12 center-align white"><img src="https://farmaeste.com/storage/app/media/paginas/error-2.png" class="bg-image-404 fr-fic fr-dii" alt="">

						<h1 class="error-code m-0">404</h1>

						<h6 class="mb-2">No hemos podido encontrar lo que buscas, intenta nuevamente o comunícate con nosotros por <strong>soporte@farmaeste.com</strong></h6><a class="btn waves-effect waves-light gradient-45deg-deep-purple-blue gradient-shadow mb-4" href="https://farmaeste.com">Volver al inicio</a></div></div></div></div></div></div>