title = "Blog"
url = "/blog/:page?"
layout = "non-static-layout"
meta_title = "Blog Farmaeste"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "blog"

[SeoCmsPage]
==
<div class="section" id="faq">
  {% partial 'blog/header' %}
  
</div>
<div class="row">
  <div class="col s12 m12 l12">
    {% partial 'blog/posts' %}
  </div>
</div>