title = "busqueda"
url = "/busqueda/:q?"
layout = "non-static-layout"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[SearchHandler]
mode = "query"
search_param = "{{ :q }}"
main_page = "busqueda"

[SeoCmsPage]
==
{% component 'SearchHandler' %}

<div class="container">
    <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
        <div class="row">
            <div class="col s12 m6 l6">
                <h5 class="breadcrumbs-title">Busqueda</h5>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li ><a class="" href="{{ 'index'|page }}">Home</a></li>
                    <li><span class="font-weight-900">Busqueda</span></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="container">
            <div class="row">
                {% if obProductList != null %}
                <div class="col s12 m3 l3 pr-0 hide-on-small-only animate fadeLeft">
                    <div class="card" id="filter-content">
                        {% partial 'filters' obProductList = obProductList base="search" %}
                    </div>
                </div>
                
                <div class="col s12 m9 l9">
                    <div class="result-container" id="result-container">
                    {% partial 'products/products-results' obProductList = obProductList page = 1 %}
                    </div>
                    
                </div>
                {% else %}
            
                    <div class="mt-3 col m8 s12 offset-m2">

                            
                        <div class="col s12 m12 l12 card-width">
                            <div class="card border-radius-6">
                                <div class="card-content center-align">
                                    <i class="material-icons medium amber-text mb-3">search</i>
                                    <h5 class="mb-2 mt-0"><b>NO ENCONTRAMOS COINCIDENCIAS CON TU BUSQUEDA</b></h4>
                                    <h6 class="font-weight-900">Visita nuestras categorias o ponte en 
                                        <a href="#">contacto</a> con nosotros y con gusto te ayudaremos
                                    </h6>
                             
                                    <p class="center-align pt-2">
                                        <a class="waves-effect waves-light btn mb-1" href="http://localhost/sandbox/registro">
                                        <i class="material-icons left">home</i> Inicio
                                        </a>

                                        <a class="btn-flat mb-1 waves-effect" href="http://localhost/sandbox/login">
                                            <i class="material-icons right">book</i> Blog
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>                                              
                    </div>
              
                  

                {% endif %}
            </div>
        </div>
    </div>
</div>