title = "carrito"
url = "/carrito"
layout = "non-static-layout"
description = "vista del carrito"
meta_title = "Carrito"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[MakeOrder]
mode = "ajax"
flash_on = 1
redirect_on = 0

[PaymentMethodList]

[CatalogBreadcrumbs]

[ShippingTypeList]

[UserAddress]

[LocationManager]

[SearchHandler]
mode = "query"
main_page = "busqueda"

[SeoCmsPage]
==
<?php
function onStart(){
    use Lovata\OrdersShopaholic\Models\ShippingRestriction;
    
    $this["restrictions"] = ShippingRestriction::select(["id", "code", "description"])->get();
}
?>
==
<div class="container">
    <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
        <div class="row">
            <div class="col s12 m6 l6">
                <h5 class="breadcrumbs-title">Carrito</h5>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li ><a class="" href="{{ 'index'|page }}">Home</a></li>
                    <li><span class="font-weight-900">Carrito</span></li>
                </ol>
            </div>
        </div>
        <div class="row card">
            {% set obCartPositionList = Cart.get() %}

            {% if obCartPositionList.isEmpty() %}

                {% partial 'cart/empty-cart' %}
                
            {% else %}
                {#<div class="col m4 s12 cart-overview">
                    <div class="row" id="cart-total-container">
                        {% partial 'cart/cart-total-price' %}
                    </div>
                    <div class="row" id="cart-list-container">
                       
                        {% partial 'cart/cart-product-list' %}
                    </div>
                    
                </div>#}
                <div class="col m12 s12">
                   
                    {% component 'MakeOrder' %}
                    {% set obUser = UserData.get %}
            
                    {% if obUser %}
                    <form class="col s12" id="order-form">
                        <ul class="stepper horizontal">
                                <li class="step active">
                                <div class="step-title waves-effect">Cliente</div>
                                <div class="step-content" id="client-step">
                                    <div class="card-alert card gradient-45deg-light-blue-cyan">
                                        <div class="card-content white-text">
                                            <p>
                                            <i class="material-icons">info_outline</i> Información de cliente</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                        <div class="input-field col m6 s12">
                                            <input id="first_name" name="firstname" type="text" placeholder="Nombre" class="validate" required
                                            value="{{obUser.isNotEmpty() and obUser.name != '' ? obUser.name}}">
                                        </div>
                                        <div class="input-field col m6 s12">
                                            <input id="last_name" name="lastname" type="text" placeholder="Apellido" class="validate" required
                                            value ="{{obUser.isNotEmpty() and obUser.last_name != '' ? obUser.last_name}}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col m6 s12">
                                            <input id="email" name="email" type="email" class="validate" required
                                            value ="{{obUser.isNotEmpty() and obUser.email != '' ? obUser.email}}">
                                            <label for="email" >Email</label>
                                        </div>
                                        <div class="input-field col m6 s12">
                                            <input id="phone" type="text" name="phone" class="validate" required
                                            value ="{{obUser.isNotEmpty() and obUser.phone != '' ? obUser.phone}}">
                                            <label for="phone">Teléfono</label>
                                        </div>
                                    </div>
                                    
                                    <div class="step-actions">
                                        <!-- Here goes your actions buttons -->
                                        <button class="waves-effect waves-dark btn next-step">CONTINUAR</button>
                                    </div>
                                </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Tipo Envio/Retiro</div>
                                    <div class="step-content">
                                        
                                        <div class="row">
                                            <div class="card-alert card gradient-45deg-light-blue-cyan">
                                                <div class="card-content white-text">
                                                    <p>
                                                    <i class="material-icons">info_outline</i> Elige un método de envio o retiro</p>
                                                </div>
                                            </div>
                                            <div class="" id="shipping-list-content">
                                                {% partial 'cart/shipping-list' restrictions = restrictions %}
                                            </div>
                                            <p class="right-align">
                                                <button class="waves-effect waves-dark btn next-step mr-2">CONTINUAR</button>
                                            </p>   
                                        </div>  
                                    </div>  
                                </li>
                                <li class="step" id="shipping-address">
                                    <div class="step-title waves-effect">Dirección/Horario</div>
                                    <div class="step-content" id="address-time-step">
                                        <div class="card-alert card gradient-45deg-light-blue-cyan">
                                            <div class="card-content white-text">
                                                <p>
                                                <i class="material-icons">info_outline</i> Elige fecha y hora para el envio o retiro de tu compra</p>
                                            </div>
                                        </div>
                                        
                                        <div id="calendar-content">
                                            {% partial 'cart/shipping-calendar' %}
                                            <div class="row" id="subsidiary-content">
                                                <div class="input-field col s12 m6 l6 ">
                                                    <select name="subsidiary" id="subsidiary" required>
                                                        <option value="Sede principal Porlamar">Sede Principal Porlamar</option>
                                                        <option value="Sede Villa Rosa">Sede Villa Rosa</option>
                                                    </select>
                                                <span class="helper-text">Elige una sucursal</span>
                                                </div> 
                                            </div>
                                        </div>
                                        <input type="hidden" name="shipping_country" value="VENEZUELA">
                                        <input type="hidden" name="shipping_state" value="NUEVA ESPARTA">
                                        <div id="shipping-address-fields" class="hide">
                                            {% set countries = LocationManager.countries(null, true) %}
                                            {% set states = LocationManager.states() %}

                                            <div id="shipping-address-aux-content">
                            
                                                <div class="row">
                                                    {% set cities = LocationManager.cities(1) %}
                                                    <div class="col s12 m6">
                                                        <div class="input-field">
                                                            <select id="cities-select" name="shipping_city" class="location-options browser-default" >
                                                                <option value="" disabled selected>Elige una ciudad</option>
                                                                {% for city in cities %}
                                                                <option value="{{city.name}}">{{city.name}}</option>
                                                            {% endfor %}
                                                            </select>
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="input-field col s12 m6">
                                                        <textarea id="textarea1" name="shipping_address1" placeholder="Dirección" class="materialize-textarea" disabled></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <p class="right-align" id="shipping-address-list-link">
                                            <a href="#" class="left hide" id="shipping-address-link">
                                                <i class="material-icons background-round">edit_location</i>
                                                Mis direcciones
                                            </a>
                                            <button class="waves-effect waves-dark btn next-step mr-2">CONTINUAR</button>
                                        </p>
                                    </div>
                                </li>
                                <li class="step" >
                                    <div class="step-title waves-effect">Facturación</div>
                                    <div class="step-content">
                                        <div class="card-alert card gradient-45deg-light-blue-cyan">
                                            <div class="card-content white-text">
                                                <p>
                                                <i class="material-icons">info_outline</i> Escribe tu dirección de facturación</p>
                                            </div>
                                        </div>
                                    
                                        <div id="billing-address-fields">
                                            <div id="billing-address-aux-content">
                                                <div class="row">
                                                    <div class="input-field col s12 m6">
                                                        <select id="billing-countries-select" name="billing_country" class="browser-default" data-type="billing">
                                                            <option value="" disabled selected>Elige un país</option>
                                                            {% for country in countries %}
                                                                <option value="{{country.name}}">{{country.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        
                                                    </div>
                                                    <div class="col s12 m6" id="billing-states-options-content">
                                                        {% partial  'cart/states-options' disabled = '' type='billing' readonly = false %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    
                                                    <div class="col s12 m6" id="billing-cities-options-content">
                                                        {% partial  'cart/cities-options' disabled = '' type='billing' %}
                                                    </div>
                                                    <div class="input-field col s12 m6">
                                                        <textarea id="textarea2" name="billing_address1" class="materialize-textarea" placeholder="Dirección"></textarea>
                                                        <span class="helper-text">(opcional)</span>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>

                                        <div class="row">
                                            <p class="right-align">
                                                <a href="#" class="left" id="billing-address-link">
                                                    <i class="material-icons background-round">edit_location</i>
                                                    Mis direcciones
                                                </a>
                                                <button class="waves-effect waves-dark btn mr-2">CONTINUAR</button>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                {#
                                <li class="step">
                                    <div class="step-title waves-effect">Pago</div>
                                    <div class="step-content">
                                        <div class="row">
                                            <p class="payment-method-list-wrapper">
                                            {% set obPaymentMethodList = PaymentMethodList.make().sort().active() %}
                                            {% if obPaymentMethodList.isNotEmpty() %}
                                                        
                                                {% for obPaymentMethod in obPaymentMethodList %}
                                                                
                                                <div class="col m6">
                                                    <label for="payment-{{ obPaymentMethod.id }}">
                                                        <input name="payment" type="radio"  id="payment-{{ obPaymentMethod.id }}"
                                                        value="{{ obPaymentMethod.id }}" />
                                                        <span>{{ obPaymentMethod.name }}</span>
                                                    </label>
                                                </div>      
                                                {% endfor %}
                                            {% endif %}
                                            </p>
                                        </div>
                                        <div class="row">
                                            <p class="col m12">
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>He leído y acepto los términos y condiciones</span>
                                                </label>
                                            </p>
                                        </div>
                                        <div class="row">
                                            <p class="center">
                                                <button class="waves-effect waves-light btn gradient-45deg-light-blue-cyan mt-2">CHECK-OUT</button>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                #}
                            </ul>
                        </form>
                    {% else %}
                        {% partial 'cart/sign-in-order-message' %}
                    {% endif %}
              {% endif %}
            </div>
        </div>
    </div>
</div>

{% set obUser = UserData.get %}
{% set addresses = obUser.address() %}

<div id="modal-address-form-window" class="modal modal-fixed-footer" tabindex="0">
    <div id="placeholder" class="card card-default scrollspy mt-0 z-depth-0" >
        <div class="card-content">
        <h4 class="card-title">Mis direcciones de envio</h4>
            <form class="col s12" id="address-form-modal">
                <ul class="collection with-header">
                    {% for address in addresses  %}
                        {% if address.type == "shipping" %}
                        <li class="collection-item dismissable">
                            <label for="radio-{{loop.index}}">
                                <input type="radio" id="radio-{{loop.index}}"  name="radio-address" value="{{address.id}}">
                                <span>
                                    {{address.country}} - {{address.state}} - {{address.city}} <br>
                                    {{address.address1}} 
                                </span> 
                            </label>
                        </li>
                        {% endif %} 
                    {% endfor %}            
                </ul>
                <div class="input-field col s12">
                    <button class="btn cyan waves-effect waves-light right">Usar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-billing-address-form-window" class="modal modal-fixed-footer" tabindex="0">
        <div id="placeholder" class="card card-default scrollspy mt-0 z-depth-0" >
            <div class="card-content">
            <h4 class="card-title">Mis direcciones de facturación</h4>
                <form class="col s12" id="billing-address-form-modal">
                    <ul class="collection with-header">
                        {% for address in addresses  %}
                            {% if address.type == "billing" %}
                            <li class="collection-item dismissable">
                                <label for="radio-{{loop.index}}">
                                    <input type="radio" id="radio-{{loop.index}}"  name="radio-address" value="{{address.id}}">
                                    <span>
                                        {{address.country}} - {{address.state}} - {{address.city}} <br>
                                        {{address.address1}} 
                                    </span> 
                                </label>
                            </li>
                            {% endif %} 
                        {% endfor %}            
                    </ul>
                    <div class="input-field col s12">
                        <button class="btn cyan waves-effect waves-light right">Usar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>