title = "categoria"
url = "/categoria/:slug/:q?"
layout = "non-static-layout"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[CatalogBreadcrumbs]

[CategoryPage]
slug = "{{ :slug }}"
slug_required = 0
smart_url_check = 0
has_wildcard = 0
skip_error = 0

[ProductList]
sorting = "new"

[BrandList]

[SearchHandler]
mode = "category"
search_param = "{{ :q }}"
main_page = "busqueda"

[SeoCmsPage]
==
<?php
function onStart(){

    use Lovata\Shopaholic\Models\Category;

    $this["obCategory"] = $property = Category::where("slug", $this->param('slug'))->first();
    
}

function onEnd(){
  if($this["obCategory"]){
      if($this["obCategory"]->preview_image){
      $image = $this["obCategory"]->preview_image->getPath();
      }else{
      $image = "";
      }
      
      $seo_props =  array(
        "titulo" => $this["obCategory"]->name,
        "descripcion" => $this["obCategory"]->preview_text,
        "type" => "article",
        "imagen" => $image,
        "url" => "https://farmaeste.com/categoria/".$this["obCategory"]->slug,
        "robots" => "index,follow"
    );

      $this["seo_props"] = $seo_props;
  }
}
?>
==
{% set obCategory = CategoryPage.get() %}
{% set arBreadcrumbs = CatalogBreadcrumbs.getByCategoryID(obCategory.id) %}
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(obCategory.id, true) %} 

{% if obProductList.count == 0 %}
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(obCategory.id, true) %} 
{% endif %}
<div class="row">
    
    {% partial 'breadcrumbs' arBreadcrumbs = arBreadcrumbs obCategory = obCategory %}
    
    <div class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s12 m3 l3 pr-0 hide-on-small-only animate fadeLeft">
                    <div class="card">
                        {% partial 'filters' obProductList = obProductList base="category" %}
                    </div>
                </div>
                <div class="col s12 m9 l9">
                    <div class="result-container" id="result-container">
                    {% partial 'products/products-results' obProductList = obProductList page = 1 %}
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div id="slide-out-left">
                    <div id="slide-out" class="sidenav">
                            
                        <ul class="tabs">
                            <li class="tab col s4 p-0">        
                                <a href="#" class="active">
                                    <span>FILTRO</span>
                                </a>
                            </li>
                        <li class="indicator" style="left: 0px; right: 188px;"></li><li class="indicator" style="left: 0px; right: 0px;"></li></ul>
                    
                        <div class="card m0">
                        {% partial 'filters' obProductList = obProductList base="category" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hide-on-med-and-up">
        <div style="bottom: 50px; right: 19px;" class="fixed-action-btn direction-top">
            <a class="btn-floating btn-large pulse cyan
             sidenav-trigger "
            data-target="slide-out" >
                <i class="material-icons">sort</i>
            </a>
        </div>
    </div>
    
</div>