title = "index"
url = "/old"
layout = "default"
description = "home"
is_hidden = 1

[ProductList]
sorting = "no"

[CategoryList]

[ProductData]

[ProductHandler]

[SearchHandler]
mode = "query"
main_page = "busqueda"
==
{% component 'CategoryList' %}
{% component 'ProductList' %}
{% component 'ProductData' %}

<div class="row" id="ecommerce-products">

    <div class="row">
      {% partial 'home/promos-slider' %}

    </div>
    <div class="section mt-2" id="blog-list">
      {% set obCategoryList = CategoryList.make().getByExternalId() %}

      {% partial 'categories-home' categories = obCategoryList %}
      
      {% content 'home-services' %}
      <!-- Horizontal News -->
      {% partial 'products/recent-product-list' %}
      
      {% content 'recent-home-posts' %}
    </div>

    <div class="row">
        <div class="container">
          <h5 class="ml-3"><i class="material-icons red-text darken-3"> add_shopping_cart </i>
          Las mejores opciones en limpieza</h5>
        </div>  
        {% partial 'products/products-by-category' category="6" quantity =5 %}
    </div>

      
   </div>