title = "marca"
url = "/marca/:slug"
layout = "default"
description = "lista de productos por marca"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[CatalogBreadcrumbs]

[BrandPage]
slug = "{{ :slug }}"
slug_required = 1
smart_url_check = 0
skip_error = 0

[SearchHandler]
mode = "query"

[ProductList]
sorting = "no"
==
<?php
function onStart(){

    use Lovata\Shopaholic\Models\Brand;

    $this["obBrand"] = $property = Brand::where("slug", $this->param('slug'))->first();
    
}

function onEnd(){
  if($this["obBrand"]){
      if($this["obBrand"]->preview_image){
      $image = $this["obBrand"]->preview_image->getPath();
      }else{
      $image = "";
      }
      
      $seo_props =  array(
        "titulo" => $this["obBrand"]->name,
        "descripcion" => $this["obBrand"]->preview_text,
        "type" => "article",
        "imagen" => $image,
        "url" => "https://farmaeste.com/marca/".$this["obBrand"]->slug,
        "robots" => "index,follow"
    );

      $this["seo_props"] = $seo_props;
  }
}
?>
==
{% set obBrand = BrandPage.get() %}
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().brand(obBrand.id) %}

<div class="row">

    {# ESPACIO PARA EL BREADCRUMB #}
    
    <div class="col s12">
        <div class="container">
        
            <div class="col s12 m3 l3 pr-0 hide-on-small-only animate fadeLeft">
                <div class="card">
                    {% partial 'filters' obProductList = obProductList base="brand" %}
                </div>
            </div>
            <div class="col s12 m9 l9">
                <div class="result-container" id="result-container">
                {% partial 'products/products-results' obProductList = obProductList page = 1 %}
                </div>
                
            </div>
         </div>
    </div>
</div>