title = "orden"
url = "/orden/:slug?"
layout = "default"
description = "vista de las ordenes de compra"
is_hidden = 0

[OrderPage]
slug = "{{ :slug }}"
slug_required = 1

[form]

[PaymentsHandler]
code = "{{ :slug }}"
type = "slug"

[PaymentMethodList]

[SearchHandler]
mode = "query"
main_page = "busqueda"

[UserData]
==
<?php
public function onNotifyPurchase(){
    use Lovata\OrdersShopaholic\Models\Order;
    $data = Input::get();
    $order = Order::find($data["orderid"]);
    $order->status = 3;
    $order->save();

    //Mail::sendTo($order->property->email, 'acme.blog::mail.message', $params);
    //echo($data);
    //trace_log($order->secret_key);

    return "success";
  }
?>
==
{% component 'OrderPage' %}

{% set obOrder = OrderPage.get() %}
<div class="pt-1 pb-0" id="breadcrumbs-wrapper">
    <!-- Search for small screen-->
    
    <div class="container">
        {% set obUser = UserData.get %}

        {% if obUser.isNotEmpty %}
        <div class="row">
            <div class="col s12 m6 l6 card">
                <div class="row ">
                    <p class="hide-on-med-and-up center-align mr-2">
                        <span class="badge blue ">{{obOrder.status.name }}</span>
                    </p>
                </div>
                <h5 class="center-align">ORDEN N° {{obOrder.order_number }}
                    <span class="badge blue hide-on-small-only">{{obOrder.status.name }}</span>
                </h5>
                
               
                <ul class="collection">
                    {% for opCollection in obOrder.order_position %}
                    <li class="collection-item avatar">
                        <img src="{{ opCollection.offer.product.preview_image.path }}" alt="" class="circle">
                        <span class="title font-weight-900">{{opCollection.offer.name}}</span>
                        <p><span class="font-weight-bold">Cantidad:{{opCollection.quantity}} </span>
                        </p>
                    </li>
                    
                    {% endfor %}
                    <li>
                        <h6 class="center-align font-weight-900">
                            <span class=" grey-text">Total</span>
                            {{obOrder.total_price}}{{obOrder.currency.symbol}}
                        </h6>
                    </li>
                </ul>
            </div>

            <div class="col s12 m6 l6">
                {% if obOrder.status.id == 1  and obOrder.isAvailableToPay() %}
                {% set obPaymentMethodList = PaymentMethodList.make().sort().active() %}
                <div class="col s12 m12">
                    
                    <div class="card">
                          <div class="card-tabs">
                                <ul class="tabs tabs-fixed-width tab-methods">
                                {% for obPaymentMethod in obPaymentMethodList %}
    
                                    {% if obPaymentMethod.code == "transfer-ves" and obOrder.currency.code == "VES" %}
                                        <li class="tab">
                                            <a href="#payment-{{obPaymentMethod.id}}" >
                                                
                                                
                                                <span class="">
                                                    <i class="material-icons">account_balance</i>
                                                </span> 
                                                    
                                                
                                            </a>
                                        </li>
                            
                                    {% elseif obOrder.currency.code == "USD"   %}

                                        {% if obPaymentMethod.code == "stripe" %}
                                        <li class="tab">
                                            <a href="#payment-{{obPaymentMethod.id}}" >
                                            
                                            <span class="">
                                            <i class="material-icons">credit_card</i>
                                            </span> 
                                            </a>
                                        </li>
                                        {% elseif(obPaymentMethod.code == "transfer-usd" or obPaymentMethod.code =="zelle-usd" ) %}
                                        <li class="tab">
                                            <a href="#payment-{{obPaymentMethod.id}}" >
                                           
                                            <span class="">
                                            <i class="material-icons">account_balance</i>
                                            </span> 
                                            </a>
                                        </li>
                                        {% endif %}
                                      
                                    {% endif %}
                                    
                                    {% if obPaymentMethod.code == "in-site"  and obOrder.shipping_type.code == "in-site" %}
                                    <li class="tab">
                                        <a href="#payment-{{obPaymentMethod.id}}" >
                                            
                                           
                                            <span class="">
                                                <i class="material-icons">gps_fixed</i>
                                            </span> 
                                                
                                            
                                        </a>
                                    </li>
                                    {% endif %}
                                   
                                {% endfor %}
                                   
                                </ul>
                          </div>
                          <div class="card-content grey lighten-4">
                                {% for obPaymentMethod in obPaymentMethodList %}

                                {% if obPaymentMethod.code == "transfer-ves" and obOrder.currency.code == "VES" %}
                                    <div id="payment-{{obPaymentMethod.id}}">
                                        
                                    {% content 'bank-accounts.htm' %}

                                    <div class="card-panel gradient-45deg-light-blue-cyan gradient-shadow">
                                      <span class="white-text">Una vez realices tu transferencia adjunta tu
                                          comprobrante de pago a continuación
                                      </span>
                                    </div>

                                    <form id="file-payment-form-ves" class="file-payment-form" data-request-files data-request-validate>
                                      <div class="row">
                                        <div class="input-field col s12">
                                          <input placeholder="Número de Referencia" id="reference" name="reference" type="text" class="validate" required>
                                        </div>
                                      </div>
                                      
                                      <div class="row">
                                          <div class="input-field col s12">
                                              <input name="capture" type="file" class="dropify" data-max-file-size="2M"
                                              data-allowed-file-extensions="pdf png jpg jpeg" required />
                                          </div>
                                      </div>
                                      <p class="center-align">
                                          <button class="btn btn-primary">Añadir Comprobante</button>
                                      </p>
                                      <input type="hidden" name="method_id" value="{{obPaymentMethod.id}}">
                                      <input type="hidden" name="status_id" value="2">
                                      <input type="hidden" name="order_status_id" value="2">

                                     </form> 
                                  </div>
                                  {% elseif obOrder.currency.code == "USD"   %}

                                    {% if obPaymentMethod.code == "stripe" %}
                                    <div id="payment-{{obPaymentMethod.id}}">
                                        
                                        <h6 class="center-align font-weight-900 mb-1">{{obPaymentMethod.name}}</h6>
                                        <form id="payment-form" data-request-validate data-request-flash>
                                            <div class="form-row">
                                                <div class="form-group col-md-12 col-lg-6">
                                                <input type="text" name="tarjetahabiente" id="tarjetahabiente" class="form-control" placeholder="Nombre y Apellido"> 
                                                </div>
                                                <div class="form-group col-md-12 col-lg-6">
                                                    <div id="card-element" style="border: 1px solid #ccc;
                                                    border-radius: 4px; padding:4px 4px;"> 
                                                    <!-- a Stripe Element will be inserted here. -->
                                                    </div>
                                                </div>
                                                <!-- Used to display form errors -->
                                                <div id="card-errors" role="alert"></div>
                                            </div>
                                            <input type="hidden" name="mt" id="mt" value="{{encrypt(obOrder.total_price_value)}}">
                                            <input type="hidden" name="ref" id="ref" value="{{obOrder.order_number }}">
                                            <input type="hidden" name="orderid" id="orderid" value="{{obOrder.id }}">    
                                            <br>
                                            <p class="center-align">
                                        
                                                <button class="btn btn-primary" id="pay-btn">¡Pagar!</button>
                                            </p>   
                                        </form>
                                        <script src='https://js.stripe.com/v3/'></script>
                                    </div>
                                    {% elseif (obPaymentMethod.code == "transfer-usd" ) or obPaymentMethod.code == "zelle-usd" %}
                                        <div id="payment-{{obPaymentMethod.id}}">
                                            <h6 class="center-align font-weight-900 mb-1">{{obPaymentMethod.name}}</h6>
                                            {% content 'bank-accounts-usd.htm' %}
                                            <div class="card-panel gradient-45deg-light-blue-cyan gradient-shadow">
                                                <span class="white-text">Una vez realices tu transferencia adjunta tu
                                                    comprobrante de pago a continuación
                                                </span>
                                                </div>
                                            <form id="file-payment-form-usd" class="file-payment-form" data-request-files data-request-validate>
                                                <div class="row">
                                                <div class="input-field col s12">
                                                    <input placeholder="Número de Referencia" id="reference" name="reference" type="text" class="validate" required>
                                                </div>
                                                </div>
                                                {% if obOrder.shipping_type.code == "in-site" %}

                                                {% endif %}
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <input name="capture" type="file" class="dropify" data-max-file-size="2M"
                                                        data-allowed-file-extensions="pdf png jpg jpeg" required />
                                                    </div>
                                                </div>
                                                <p class="center-align">
                                                    <button class="btn btn-primary">Añadir Comprobante</button>
                                                </p>
                                                <input type="hidden" name="method_id" value="{{obPaymentMethod.id}}">
                                                <input type="hidden" name="status_id" value="2">
                                                <input type="hidden" name="order_status_id" value="2">
                                            </form> 
                                        </div>
                                    {% endif %}

                                {% endif %}
                                    
                                {% if obPaymentMethod.code == "in-site"  and obOrder.shipping_type.code == "in-site" %}
                                    <div id="payment-{{obPaymentMethod.id}}">
                                        <h6 class="center-align font-weight-900 mb-1">{{obPaymentMethod.name}}</h6>
                                        <div class="card-panel gradient-45deg-light-blue-cyan gradient-shadow">
                                        <span class="white-text">Elige una sucursal donde quieras retirar
                                            tu pedido y realizar el pago
                                        </span>
                                        </div>

                                        <form id="pay-in-site-form" data-request-files data-request-validate>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <select name="subsidiary">
                                                    <option value="Sede principal Porlamar">Sede principal Porlamar</option>
                                                    <option value="Sede Villa Rosa">Sede Villa Rosa</option>
                                                </select>
                                                <label>Elige una sede</label>
                                                </div>
                                        </div>
                                        
                            
                                        <p class="center-align">
                                            <button class="btn btn-primary">Pagaré en tienda</button>
                                        </p>
                                        
                                        </form> 
                                        </div>
                                    
                                {% endif %}


                                   
                            {% endfor %}
                    
                          </div>
                    </div>
              </div>
                
                {% elseif (obOrder.status.id == 3 ) %}
                <h5 class="center-align pt-5">GRACIAS POR TU COMPRA</h5>
                <h6 class="center-align">Puedes encontrar información detallada de tus pagos y ordenes en tu perfil</h6>
                <p class="center-align">

                    <a class="clear-cart btn btn-flat" href="{{ 'user/perfil'|page}}">PERFIL</a>

                    <a  class="waves-effect waves-light btn gradient-45deg-indigo-blue" href="{{ 'index'|page }}">INICIO</a>
                </p>
                {% elseif (obOrder.status.id == 2 ) %}
                <div class="col s12 m12 l12">
                    <div class="card-panel gradient-45deg-light-blue-cyan gradient-shadow">
                      <h5 class="center-align white-text">TU PAGO ESTÁ SIENDO VERIFICADO</h5>
    
                    </div>
                    <p class="center-align">Una vez confirmado te notificaremos vía email 
                        Puedes encontrar información detallada de tus pagos y ordenes en tu perfil</p>
                  </div>
                
                
                <p class="center-align">

                    <a class="clear-cart btn btn-flat" href="{{ 'user/perfil'|page}}">PERFIL</a>

                    <a  class="waves-effect waves-light btn gradient-45deg-indigo-blue" href="{{ 'index'|page }}">INICIO</a>
                </p>
                {% elseif (obOrder.status.id == 5) %}
                <h5 class="center-align pt-5">TU ORDEN SE ENCUENTRA PAGADA Y VERIFICADA
                </h5>
                    {% if(obOrder.shipping_type.code == "in-site") %}
                    <h6 class="center-align">Te esperamos en nuestra sede para hacer entrega de tu pedido</h6>
                    {% else %}
                    <h6 class="center-align">Tu pedido será entregado el día {{obOrder.property["shipping_date"]}}</h6>
                    {% endif %}
                    <p class="center-align">

                        <a class="clear-cart btn btn-flat" href="{{ 'user/perfil'|page}}">PERFIL</a>
    
                        <a  class="waves-effect waves-light btn gradient-45deg-indigo-blue" href="{{ 'index'|page }}">INICIO</a>
                    </p>
                {% elseif (obOrder.status.id == 6) %}
                <h5 class="center-align pt-5">TU ORDEN HA SIDO REGISTRADA
                </h5>
                    {% if(obOrder.shipping_type.code == "in-site") %}
                    <h6 class="center-align">Te esperamos en nuestra sede {{obOrder.property.subsidiary}} para completar el pago y la entrega
                        de tu compra
                    </h6>
                    
                    {% endif %}
                    <p class="center-align">

                        <a class="clear-cart btn btn-flat" href="{{ 'user/perfil'|page}}">PERFIL</a>
    
                        <a  class="waves-effect waves-light btn gradient-45deg-indigo-blue" href="{{ 'index'|page }}">INICIO</a>
                    </p>
                {% else %}

                <div class="card">
                    <div class="card-content center yellow">
                        <h6 class="card-title font-weight-400">Orden Caducada</h6>
                       
                        <p>Se ha vencido el tiempo disponible para pagar esta orden, te invitamos a 
                            realizar una nueva
                        </p>
                        <a href="{{ 'index'|page}}" class="waves-effect waves-light btn red fixed-margin mt-3">INICIO</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="row">
            {% partial 'cart/sign-in-order-message' page="orden" value = obOrder.secret_key %}
        </div>
        {% endif %}
        
        

    </div>
</div>