title = "Post"
url = "/post/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[SearchHandler]
mode = "query"
main_page = "busqueda"

[SeoCmsPage]
==
<?php
function onEnd(){
    use RainLab\Blog\Models\Post;
  
  $post = Post::where("slug", "=", $this->param("slug"))->take(1)->get();
  
  if(count($post)>0){
      $seo_props =  array(
        "titulo" => $post[0]->title,
        "descripcion" => $post[0]->summary,
        "type" => "article",
        "imagen" => $post[0]->featured_images[0]->getPath(),
        "url" => "https://farmaeste.com/post/".$post[0]->slug,
        "robots" => "index,follow"
    );
    
      $this["seo_props"] = $seo_props;
  }else{
      
      return Redirect::to("404");
  
  }
}
?>
==
{% set post = blogPost.post %}

<style>
    .post-body li{
        list-style-type: circle !important
    }
</style>
<div class="row">
    <div id="faq">
        {% partial 'blog/header' post = post %}
    </div>
    
    <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
          <div class="row">
            <div class="col s12 m6 l6">
              
            </div>
            <div class="col s12 m6 l6 right-align-md">
              <ol class="breadcrumbs mb-0">
                <li class="breadcrumb-item"><a href="{{ 'index'|page}}">Home</a>
                </li>
                <li class="breadcrumb-item"><a href="{{ 'blog'|page}}">Blog</a>
                </li>
                <li class="breadcrumb-item active">{{post.title}}
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container post-body pl-5 pr-5 pb-5">
        <p class="info">
            Publicado
            {% if post.categories.count %} en
                {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
            | {{ post.published_at|date('M d, Y') }}
        </p>
        {{ post.content_html|raw }}
      </div>
    
</div>