title = "producto"
url = "/producto/:product_id/:slug?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[ProductPage]
slug = "{{ :slug }}"
slug_required = 1
smart_url_check = 0
skip_error = 0

[CatalogBreadcrumbs]

[ProductList]
sorting = "new"

[SearchHandler]
mode = "query"
main_page = "busqueda"
==
<?php
function onStart()
{
    $this->addJs(['assets/js/product-management.js']);
    use Lovata\Shopaholic\Models\Product;

    $this["obProduct"] = $property = Product::where("slug", $this->param('slug'))->first();
}


function onEnd(){
  if($this["obProduct"]){
      if($this["obProduct"]->preview_image){
      $image = $this["obProduct"]->preview_image->getPath();
      }else{
      $image = "";
      }
      
      $seo_props =  array(
        "titulo" => $this["obProduct"]->name,
        "descripcion" => $this["obProduct"]->preview_text,
        "type" => "article",
        "imagen" => $image,
        "url" => "https://farmaeste.com/producto/".$this["obProduct"]->id."/".$this["obProduct"]->slug,
        "robots" => "index,follow"
    );

      $this["seo_props"] = $seo_props;
  }
}
?>
==
{% component 'ProductPage' %}


{# Get product item #}
{% set obProduct = ProductPage.get() %}
{% set obFirstOffer = getFirstAvailableOffer(obProduct) %}

{% set arBreadcrumbs = CatalogBreadcrumbs.getByProductID(obProduct.id) %}

<div class="main-full main-product" >
    {% partial 'breadcrumbs' arBreadcrumbs = arBreadcrumbs obCategory = obProduct.category %}
    
    <div class="container" id="product-main-content">
        <div class="col s12">
            <div class="card animate fadeUp">
                <div class="card-content">
                    <form id="single-product-form">
                        <div class="row">
                            <div class="col m5 s12">
                                <img src="{{obProduct.preview_image.path}}" class="responsive-img" alt=""> 
                            </div>
                            <div class="col m7 s12">
                                
                                <div class="row">
                                    <div class="col s12 m12">
                                        <h5 class="blue-text text-lighten-1">{{obProduct.name}}</h5>
                                        <label>Descripción</label>
                                        <p class="">{{obProduct.description|raw}}</p>
                                    </div>
                                </div>
                                <div class="{{ obFirstOffer == null ? 'hide'}}">
                                    <div class="row mt-2">
                                        <div class="input-field col s12 m12">
                                            <select class="icons" name="offer">
                                                {% for obOffer in obProduct.offer %}
                                                    {% if obOffer.quantity > 0  and obOffer.price > 0%}
                                                    <option value="{{obOffer.id}}" data-max-quantity="{{obOffer.quantity}}" data-icon="{{obOffer.preview_image.path}}">{{obOffer.name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <label> Elige presentación</label>
                                        </div>
                                    </div>
                                    
                                    <div class="row ">
                                        <div class="col s12 m12">
                                            <label>Cantidad</label>
                                            <input type="text" class="js-range-slider" name="quantity"
                                            data-type="single"
                                            data-min="1"
                                            data-max="{{obFirstOffer.quantity > 19 ? 20 : obFirstOffer.quantity}}"
                                            >
                                        </div>  
                                    </div>
                                    <div class="row">
                                        <div class="col s12 m12">
                                        {% for obOffer in obProduct.offer %}
                                            {% if obOffer.quantity > 0 %}
                                            <h5 class="center-align {{loop.index == 1 ? '' : 'hide'}} offer-price"
                                                id="offer-price-{{obOffer.id}}">
                                                <span class="font-weight-900">Precio:</span>
                                                
                                                <span class="
                                                    {{obOffer.old_price_value > 0 ? 'red-text' : 'grey-text lighten-2 ' }}">
                                                    {{obOffer.currency}}{{obOffer.price_value}}
                                                </span>
                                                
                                                {% if obOffer.old_price_value > 0 %}
                                                <span class="prise-text-style">{{obOffer.old_price_value}}</span>
                                                {% endif %}
                                            </h5>
                                            {% endif %}
                                        {% endfor %}   
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="center-align">
                                            <button class="waves-effect waves-light btn gradient-45deg-light-blue-cyan
                                             z-depth-4 mt-">
                                                ¡AL CARRITO!
                                            </button>
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="row  {{  obFirstOffer == null ? '': 'hide'}}">
                                    <div class="card-alert card orange lighten-5">
                                        <div class="card-content orange-text">
                                            <p><span class="font-weight-900">DISCULPA</span> <br>
                                                Este producto no se encuentra disponible en nuestro inventario,
                                                estaremos reponiendolo en breve
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if obProduct.images %}
       {# <div class="container mt-2">
            <h5>Galería V1</h5>
            <div class="card">
                <div class="card-content">
                    <div class="carousel">
                        {% for img in obProduct.images %}
                        <a class="carousel-item" href="#img-{{loop.index}}!">
                            <img src="{{img.path}}" class="materialboxed responsive-img">
                        </a>
                        {% endfor %}
                                       
                    </div>  
                </div>
            </div>
        </div>
        #}
        <div class="container mt-2" >
            <h5>Galería V2</h5>
            <div class="row">
                <div class="card card-owl-carousel">
                    <div class="owl-carousel card-content parent-container ">
                        {% for img in obProduct.images %}
                            <a href="{{img.path}}">
                                <div class="item">
                                    <div class="col">
                                        <img src="{{img.path}}" class="responsive-img" >
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                
            </div>    
        </div>
        
    {% endif %}

    <div class="container mt-2">
        <div class="row">
                <h5>Similares</h5>
                {% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(obProduct.category.id) %} 
                {% partial 'products/product-sliders' obProductList = obProductList skipProducrtId = obProduct.id %}
         
        </div>

    </div>
</div>