title = "promo"
url = "/promo/:slug"
layout = "default"
is_hidden = 0

[PromoBlockPage]
slug = "{{ :slug }}"
slug_required = 1
smart_url_check = 0

[SearchHandler]
mode = "query"

[ProductHandler]
==
{% set obPromoBlock = PromoBlockPage.get() %}
<div class="row">
    <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h5 class="breadcrumbs-title">{{ obPromoBlock.name }}</h5>
                    {% if obPromoBlock.date_begin and obPromoBlock.date_end %}
                    <p>Vigente desde {{obPromoBlock.date_begin|date("d/m/Y")}} hasta {{obPromoBlock.date_end|date("d/m/Y")}}</p>
                    {% endif %}
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li><a href="{{ 'index'|page }}">Home</a></li>
                        <li>{#<a href="{{ 'promos'|page }}"></a>#} Promociones</li>
                        
                        <li data-id="{{ arItem.id }}" class="breadcrumb-item">  
                            <span class="font-weight-900">{{ obPromoBlock.name }}</span>
                        </li>
                        
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s12 m3 l3 pr-0 hide-on-small-only animate fadeLeft">
                    <div class="card">
                        {% partial 'filters' obProductList = obPromoBlock.product base="promo" %}
                    </div>
                </div>
                <div class="col s12 m9 l9">
                    <div class="result-container" id="result-container">
                    {% partial 'products/products-results' obProductList = obPromoBlock.product page = 1 %}
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div id="slide-out-left">
                    <div id="slide-out" class="sidenav">
                            
                        <ul class="tabs">
                            <li class="tab col s4 p-0">        
                                <a href="#" class="active">
                                    <span>FILTRO</span>
                                </a>
                            </li>
                        <li class="indicator" style="left: 0px; right: 188px;"></li><li class="indicator" style="left: 0px; right: 0px;"></li></ul>
                    
                        <div class="card m0">
                        {% partial 'filters' obProductList = obPromoBlock.product base="promo" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>