[UserAddress]

[viewBag]
==
<!--<div class="app-search">
<i class="material-icons mr-2 search-icon">search</i>
<input type="text" placeholder="Search Mail" class="app-filter" id="email_filter">
</div> -->
{% set obUser = UserData.get %}
{% set addresses = obUser.address() %}
<div class="card card card-default scrollspy border-radius-6 fixed-width">
    <div class="card-content p-0">
        <div class="email-header">
            <div class="left-icons">
                <span class="header-checkbox">
                <label>
                    <input type="checkbox" onClick="toggle(this)" />
                    <span></span>
                </label>
                </span>
                <span class="action-icons">
                    <a href="#" id="add-new-address">
                        <i class="material-icons">add</i>
                    </a>
                    <a href="#" id="delete-address" class="list-action">
                        <i class="material-icons ">delete</i>
                    </a>
                </span>
            </div>
            <div class="list-content"></div>
            <div class="email-action">
                <span class="email-options"><i class="material-icons grey-text">more_vert</i></span>
            </div>
        </div>
        <div class="collection email-collection">
       
            {% if addresses.count > 0 %}
                {% for address in addresses  %}
    
                <a href="#" class="collection-item animate fadeUp delay-1">
                    <div class="list-left">
                        <label>
                            <input type="checkbox" class="check-list" name="foo" value="{{address.id}}" />
                            <span></span>
                        </label>
                        <!--
                        <div class="favorite">
                            <i class="material-icons">star_border</i>
                        </div>
                        <div class="email-label">
                            <i class="material-icons">label_outline</i>
                        </div>-->
                    </div>
                    <div class="list-content">
                    <div class="list-title-area">
                        <div class="user-media">
                        <div class="list-title">{{address.state}} - {{address.city}}</div>
                        </div>
                        <div class="title-right">
                            <span class="badge grey lighten-3"><i class="cyan-text material-icons small-icons mr-2">
                                fiber_manual_record </i>{{address.type == 'billing' ? 'Facturación' : 'Envío' }}</span>
                        </div>
                    </div>
                    <div class="list-desc">{{address.address1}}</div>
                    </div>
                    <div class="list-right">
                    <div class="list-date font-weight-900"> {{address.country}}</div>
                    </div>
                </a>
                {% endfor %}
            {% else %}
         
                <div class="col s12 m12">
                   
                    <p class="pt-2 pb-2 center-align">
                        No tienes ninguna dirección registrada
                    </p>
                    
                </div>
      
            {% endif %}

            
        </div>
    </div>
</div>