{% if cities.count > 0 %}
<div class="input-field">
    <select id="cities-select" name="city_id" class="location-options browser-default" {{disabled}}>
        <option value="" disabled selected>Elige una ciudad</option>
        {% for city in cities %}
        <option value="{{city.id}}">{{city.name}}</option>
    {% endfor %}
    </select>
</div>
{% else %}
<div class="input-field">
    <input name="city" type="text" placeholder="Ciudad" class="validate active" value="{{selectedCity}}" {{disabled}}>
</div>
{% endif %}