<div class="card">
    <div class="card-content">
        <div class="section section-data-tables">
         
            <div class="col s12">
              <table id="orders-data-table" class="centered highlight data-table display nowrap" width="100%">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Codigo</th>
                <th>N° de items</th>
                <th>Total</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            {% for order in orders %}
              {% set status = '' %}
                          
              {% if order.status.id == 1  %}
                  {% set status = 'cyan' %}
              {% elseif order.status.id == 2  %}
                  {% set status = 'orange' %}
              {% elseif order.status.id == 3  %}
                  {% set status = 'green' %}
              {% elseif order.status.id == 4  %}
                  {% set status = 'red' %}
                  
              {% endif %}

              <tr>
                <td>{{order.created_at|date("d/m/Y")}}</td>
                <td><a target="_black" href="{{ 'orden'|page({slug: order.secret_key }) }}" >{{order.order_number}}</a></td>
                <td>{{order.order_position.count}}</td>
                <td>{{order.currency_symbol}}{{order.total_price }}</td>
                <td>
                  <span class="badge new {{status}}" data-badge-caption="{{order.status.name}}"></span>
                </td>
                
              </tr>
            {% endfor  %}
            </tbody>
          </table>
            </div>
          
            
        </div>
    </div>
</div>
