<form class="col s12" id="profile-form">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    {% set obUser = UserData.get %}
                    <div class="input-field col s6">
                        <input id="name" name="name" type="text" class="validate" required
                        value="{{obUser.isNotEmpty() and obUser.name != '' ? obUser.name}}">
                        <label for="name" class="active">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" name="last_name" type="text" class="validate" required
                        value ="{{obUser.isNotEmpty() and obUser.last_name != '' ? obUser.last_name}}">
                        <label for="last_name" class="active">Apellido</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" type="email" class="validate" disabled
                        value ="{{obUser.isNotEmpty() and obUser.email != '' ? obUser.email}}">
                        <label for="email" class="active">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="phone" type="text" name="phone" class="validate"
                        value ="{{obUser.isNotEmpty() and obUser.phone != '' ? obUser.phone}}">
                        <label for="phone" class="active">Teléfono</label>
                    </div>
                </div>
                {#<div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea2" name="property['main_address']" 
                        class="materialize-textarea">{{obUser.isNotEmpty() and obUser.property.main_address != '' ? obUser.property.main_address}}</textarea>
                        <label for="textarea2" class="active">Dirección</label>
                    </div>
                </div>#}
                <div class="step-actions">
                    <!-- Here goes your actions buttons -->
                    <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
                </div>
            </div>
        </div>
        
    </div>
</form>