{% if states.count > 0 %}

<div class="input-field">
    <select id="states-select" name="state" class="location-options" {{disabled}} required>
        <option value="" disabled selected>Elige un estado</option>
        
        {% for state in states %}
            <option value="{{state.id}}">{{state.name}}</option>
        {% endfor %}
        
    </select>
    <label>Estado</label>
</div>
{% else %}
<div class="input-field">
    <input name="state" type="text" placeholder="Estado" value="{{selectedState}}" class="validate active" {{disabled}} required>
</div>
{% endif %}
