<div class="card">
    <div class="card-content">
        <div class="section section-data-tables">
            <div class="col s12">
                <table id="payments-data-table" class="centered highlight data-table display nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Moneda</th>
                            <th>Método de pago</th>
                            <th>Monto</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if payments.count > 0 %}
                        {% for payment in payments %}
                        {% set status = '' %}
                                
                        {% if payment.status.id == 1  %}
                            {% set status = 'green' %}
                        {% elseif payment.status.id == 2  %}
                            {% set status = 'orange' %}
                        {% elseif payment.status.id == 3  %}
                            {% set status = 'red' %}
                        {% endif %}
                        <tr>
                            <td>{{payment.created_at|date("d/m/Y")}}</td>
                            <td>{{payment.currency.name}}</td>
                            <td>{{payment.payment_method.name}}</td>
                            <td>{{payment.currency_symbol}}{{payment.mount }}</td>
                            <td>
                                <span class="badge new {{status}}" data-badge-caption="{{payment.status.name}} "></span>
                            </td>
                        </tr>
                        {% endfor  %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


