<form class="" data-request-files data-request-flash>
    <div class="row">
        <div class="input-field col s12">
        <input type="text" id="reference" name="reference">
        <label for="reference" class="">Referencia</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
        <input type="file" class="dropify" data-max-file-size="3M" name="file" />
        <label for="file">Email</label>
        </div>
    </div>
</form>