[Pagination]
count_per_page = 6
pagination_limit = 5
active_class = "active"
first_button_name = "First"
first_button_limit = 1
first-more_button_name = "..."
first-more_button_limit = 1
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 1
last_button_name = "Last"
last_button_limit = 1

[viewBag]
==
<div id="ecommerce-products">
        {% set pagination = Pagination.get(page, obProductList.count) %}
        {% set arProductList = obProductList.page(page, Pagination.getCountPerPage()) %}
        {% for obProduct in arProductList %}
        {% set obFirstOffer = getFirstAvailableOffer(obProduct) %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <p class="font-weight-900">{{obProduct.category.name}}</p>
                        <span class="card-title text-ellipsis blue-text text-lighten-1">{{obProduct.name}}</span>
                        <img src="{{obProduct.preview_image.thumb(250,250,'crop')}}" class="responsive-img product-trigger pointer"
                         alt="" data-product-id="{{obProduct.id}}">
                        {% if obFirstOffer.isNotEmpty() %}   
                        <p class="col s12 m12 l12 mt-3 center-align {{ obFirstOffer.old_price_value > 0 ? 'red-text'}}">
                           
                            {% if obFirstOffer.old_price > 0 %}
                                {{ obFirstOffer.currency }}{{ obFirstOffer.price  }} {{obFirstOffer.getActiveCurrency()}}
                                
                            {% else %}
                                {{ obFirstOffer.currency }}{{ obFirstOffer.price  }} {{obFirstOffer.getActiveCurrency()}}
                            {% endif%}    
                        </p>
    
                        {% else %}
                        <p class="col s12 m12 l12 mt-3 font-weight-900 orange-text center-align">
                                AGOTADO
                        </p>
                        {% endif %}
                        <a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-indigo-blue btn product-trigger"
                        data-product-id="{{obProduct.id}}">
                            VER
                        </a>
                    </div>
                </div>        
            </div>
        </div>

        {% endfor %}

        <div class="col s12 center">
            <ul class="pagination">
                {% for pageItem in pagination %}
                    {% if loop.first %}
                    <li class="{{pageItem.class != null ? 'disabled' : 'pagination-control'}}">
                        <a href="#!" class="" data-value="{{pageItem.value - 1}}">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    {% endif %}
                    <li class="{{pageItem.class}} waves-effect pagination-control" data-value="{{pageItem.value}}">
                        <a href="#!" >
                            {{pageItem.name}}
                        </a>
                    </li>

                    {% if loop.last %}
                    <li class="{{pageItem.class != null ? 'disabled': 'pagination-control'}}"
                        data-value="{{page + 1}}">
                        <a href="#!" class="">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        
</div>