
{% set obProductList = ProductList.make().sort("new").category(category).active() %} 
   {% set arProductList =  obProductList.take(quantity) %}       
   <div class="col s12 m12 l12">
      {% if obProductList.isNotEmpty() %}
      <div class="owl-carousel">
      {% for obProduct in arProductList %}
      
      {% set obOffer = obProduct.offer.first() %}
         <div class="col s12 m12 l12">
            <div class="card animate fadeLeft">
               {% if obOffer.old_price > 0 %}
               <div class="card-badge"><a class="white-text"> <b>Oferta</b> </a></div>
               {% endif %}
               
               <div class="card-content">
                  <p class="font-weight-900">{{obProduct.category.name}}</p>
                  <span class="card-title text-ellipsis blue-text text-lighten-1">{{obProduct.name}}</span>
                  <img src="{{obProduct.preview_image.path}}" class="responsive-img" alt="">
                  <div class="row">
                     
                     {% if obOffer.isNotEmpty()%}  
                        <h6 class="col s12 m12 l12 mt-3 center-align {{ obOffer.old_price > 0 ? 'red-text'}}">
                           {{ obOffer.currency }}{{ obOffer.price  }}
                           {% if obOffer.old_price > 0%}
                           <span class="grey-text lighten-2 prise-text-style">{{ obOffer.currency }}{{obOffer.old_price }}</span>
                           {% endif%}
                        </h6>
                        <a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-indigo-blue btn product-trigger"
                        data-product-id="{{obProduct.id}}">
                           VER
                        </a>
                     {% else %}
                     no disp. 
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      {% endfor %}
      </div>
      {% endif %}
     
   </div>