<div class="col s12 m12 l12">
{% if obProductList.isNotEmpty() %}
    <div class="owl-carousel">
    {% for obProduct in obProductList %}
        {% set obFirstOffer = getFirstAvailableOffer(obProduct) %}
        {% if skipProducrtId != obProduct.id %}
        <div class="col s12 m12 l12">
            <div class="card animate fadeLeft">
                {# 
                    {% if obOffer.old_price > 0 %}
                    <div class="card-badge"><a class="white-text"> <b>Oferta</b> </a></div>
                    {% endif %}
                #}
                <div class="card-content">
                    <p class="font-weight-900">{{obProduct.category.name}}</p>
                    <span class="card-title text-ellipsis blue-text text-lighten-1">{{obProduct.name}}</span>
                    <img src="{{obProduct.preview_image.thumb(250,250,'crop')}}" class="responsive-img" alt="">
                    <div class="row">

                        {% if obFirstOffer.isNotEmpty() %}  
                        <h6 class="col s12 m12 l12 mt-3 center-align {{ obFirstOffer.old_price_value > 0 ? 'red-text'}}">
                            {{ obFirstOffer.currency }}{{ obFirstOffer.price  }}
                            {% if obFirstOffer.old_price > 0%}
                            <span class="grey-text lighten-2 prise-text-style">{{ obFirstOffer.currency }}{{obFirstOffer.old_price }}</span>
                            {% endif%}
                        </h6>
                        <a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-indigo-blue btn product-trigger"
                        data-product-id="{{obProduct.id}}">
                            VER
                        </a>
                        {% else %}
                        <div class="card-alert card orange lighten-5">
                            <div class="card-content orange-text">
                                <p class="font-weight-900 center-align">AGOTADO</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    
    
    </div>
    {% endif %}
</div>

