[ProductList]
sorting = "no"

[viewBag]
snippetCode = "recent-products"
snippetName = "5 Newest products"
==
<div class="row">
              
       {% set obProductList = ProductList.make().sort("new").active() %} 
       {% set arProductList =  obProductList.take(5) %}
       <div class="owl-carousel newest-products">
       {% for obProduct in arProductList %}

       {% set obOffer = obProduct.offer.first() %}
          <div class="item">
            <div class="card horizontal border-radius-6">
              <div class="card-image">
                   <img class="responsive-img product-trigger pointer" data-product-id="{{obProduct.id}}"
                   src="{{obProduct.preview_image.thumb(250,250,'crop')}}" alt="">
              </div>
              <div class="card-stacked">
                <div class="card-content pl-7 pt-7 pr-7">
                  <p class="mb-4 font-weight-900">{{obProduct.name}}</p>
                  <p class="hide-on-small-only">{{str_words(obProduct.preview_text, 15, "...")}}</p>
                  {% if obOffer.isNotEmpty() %}
                    <h6 class="col s12 m12 l12 mt-7 right-align {{ obOffer.old_price > 0 ? 'red-text'}}">
                       {{ obOffer.currency }}{{ obOffer.price  }}
                       {% if obOffer.old_price_value > 0%}
                       <span class="grey-text lighten-2 prise-text-style">{{ obOffer.currency }}{{obOffer.old_price }}</span>
                       {% endif%}
                    </h6>
                  {% endif%}
                </div>
                <div class="card-action pt-4 pb-3">
                  <div class="row social-icon">
                    {% if obOffer.isNotEmpty()%}  
                    <a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-indigo-blue
                     btn product-trigger right"
                    data-product-id="{{obProduct.id}}">
                       VER
                    </a>
                    {% endif %}
                  </div>
                </div>
              
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
</div>