[ProductData]

[viewBag]
==
{% component 'ProductData' %}

{% set obProduct = ProductData.get(product_id_modal) %}
{% set obFirstOffer = getFirstAvailableOffer(obProduct) %}

<form class="modal-form" id="product-modal-form">     
    <div class="modal-content">
        <div class="row">
            <!--<div class="col s12">
                <a class="modal-close right"><i class="material-icons">close</i></a>
            </div>-->
            <div class="col m6">
                <a href="{{ 'producto'|page({product_id: obProduct.id, slug: obProduct.slug }) }}">
                    <img src="{{obProduct.preview_image.path}}" class="responsive-img" alt="">
                </a>
            </div>
            <div class="col m6">
                <p class="hide-on-small-only">{{obProduct.category.name}}</p>
                <a href="{{ 'producto'|page({product_id: obProduct.id, slug: obProduct.slug }) }}">
                    <h5 class="blue-text text-lighten-1 hide-on-small-only">{{obProduct.name}}</h5>
                    <h6 class="blue-text text-lighten-1 hide-on-med-and-up">{{obProduct.name}}</h6>
                </a> 
                <p class="mt-3">{{str_words(obProduct.preview_text, 15, "...")}}</p>
                <!--<span class="new badge left ml-0 mr-2" data-badge-caption="">4.2 Star</span>-->
                <!--<span class="vertical-align-top mr-4"><i class="material-icons mr-3">favorite_border</i>Wishlist</span>-->
                <div class="{{obFirstOffer.price > 0 and obFirstOffer.quantity > 0 ? '': 'hide'  }}">
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <select class="icons" name="offer">
                                {% for obOffer in obProduct.offer %}
                                    {% if obOffer.quantity > 0 and obOffer.price_value > 0 %}
    
                                    <option value="{{obOffer.id}}" data-max-quantity="{{obOffer.quantity}}" data-icon="{{obOffer.preview_image.path}}">{{obOffer.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label>Elige presentación</label>
                        </div>
                    </div>
                    <div class="row {{obFirstOffer.price > 0 and obFirstOffer.quantity > 0 ? '': 'hide'  }}">
                        <div class="col s12 ">
                            <label>Cantidad</label>
                            <input type="text" class="js-range-slider" name="quantity"
                            data-type="single"
                            data-min="1"
                            data-max="{{obFirstOffer.quantity > 19 ? 20 : obFirstOffer.quantity}}"
                            >
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                        {% for obOffer in obProduct.offer %}
                            {% if obOffer.quantity > 0 %}
                            <p class="{{loop.index == 1 ? '' : 'hide'}} modal-price"
                                id="offer-price-{{obOffer.id}}">
                                <span class="font-weight-900">Precio:</span>
                                
                                <span class="
                                    {{obOffer.old_price_value > 0 ? 'red-text' : 'grey-text lighten-2 ' }}">
                                    {{obOffer.currency}}{{obOffer.price}}
                                </span>
                                
                                {% if obOffer.old_price_value > 0 %}
                                <span class="prise-text-style">{{obOffer.currency}}{{obOffer.old_price}}</span>
                                {% endif %}
                            </p>
                            {% endif %}
                        {% endfor %}   
                        </div>
                    </div>
                </div>
                {#<a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange mt-2">COMPRAR</a>#}
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <div class="row">
            <a class="waves-effect btn-flat blue-text text-lighten-1" href="{{ 'producto'|page({product_id: obProduct.id, slug: obProduct.slug  }) }}">
                + INFO
            </a>
            {% if obFirstOffer %}
            <button class="waves-effect waves-light btn gradient-45deg-indigo-blue add-to-cart">
                ¡AL CARRITO!
            </button>
            {% endif %}
            
        </div>  
    </div>
</form> 