[CategoryList]

[viewBag]
==
<!-- BEGIN: SideNav-->
{% set obCategoryList = CategoryList.make().tree() %}
<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-fixed hide-on-large-only">
    <div class="brand-sidebar sidenav-light"></div>
        <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed hide-on-large-only menu-shadow" id="slide-out-menu" data-menu="menu-navigation" data-collapsible="menu-accordion">
            <li class="navigation-header"><a class="navigation-header-text">Categorias</a><i class="navigation-header-icon material-icons">more_horiz</i>
            </li>
            {% for obCategory in obCategoryList  %} 
            <li class="bold">
                <a class="waves-effect waves-cyan " 
                    href="{{ 'categoria'|page({slug: obCategory.slug }) }}">
                    <i class="material-icons">{{obCategory.code}}</i>
                    <span class="menu-title" data-i18n="">{{obCategory.name}}</span>
                </a>
            </li>
            {% endfor %}
            
            {#
            <li>
                    <a href="{{ 'categoria'|page({slug: obCategory.slug }) }}">
                    <i class="material-icons">{{obCategory.code}}</i>
                    <span>{{obCategory.name}}<i class="material-icons right">keyboard_arrow_down</i></span>
                    </a>
                </li>
            #}
            
        </ul>
    
  
    <a class="sidenav-trigger btn-floating btn-medium waves-effect waves-light hide-on-large-only" 
    href="#" data-target="slide-out-menu" id="menu-side-trigger"><i class="material-icons">menu</i></a>

        
</aside>
<!-- END: SideNav-->