{% set category = blogPosts.category %}

{% if post %}
  <div class="row">
    <div class="col s12">
      <div id="faq-search" class="card z-depth-0 faq-search-image center-align p-35"
      style="background-image: url({{post.featured_images[0].path}});
      background-position: center;
      background-size: cover;">
        <div class="card-content">
          <h5>Blog Farmacia Este</h5>
          <p class="mb-3">{{post.title}}</p>

        </div>
      </div>
    </div>
  </div>
  {% elseif category %}
  <div class="row">
    <div class="col s12">
      <div id="faq-search" class="card z-depth-0 faq-search-image center-align p-35">
        <div class="card-content">
          <h5>Blog Farmacia Este</h5>
          <p class="mb-3">{{category.name}}</p>
        </div>
      </div>
    </div>
  </div>

  {% else %}

  <div class="row">
    <div class="col s12">
      <div id="faq-search" class="card z-depth-0 faq-search-image center-align p-35">
        <div class="card-content">
          <h5>Blog Farmacia Este</h5>
          <p class="mb-3">Artículos de salud y consejos de vida</p>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="faq row">
  <div class="col s12 m6 l3">
    <a class="black-text" href="{{'blog/categoria'|page({slug:'guia-medica' })}}">
      <div class="card z-depth-0 grey lighten-3 faq-card">
        <div class="card-content center-align">
          <i class="material-icons dp48 orange-text">search</i>
          <h6><b>Guia Médica</b></h6>
          {#<p>Consectetur minim veniam</p>#}
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m6 l3">
    <a class="black-text" href="{{'blog/categoria'|page({slug:'preguntas-frecuentes' })}}">
      <div class="card z-depth-0 grey lighten-3 faq-card">
        <div class="card-content center-align">
          <i class="material-icons dp48 red-text">chat_bubble_outline</i>
          <h6><b>Preguntas frecuentes</b></h6>
          
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m6 l3">
    <a class="black-text" href="{{'blog/categoria'|page({slug:'comunidad' })}}">
      <div class="card z-depth-0 grey lighten-3 faq-card">
        <div class="card-content center-align">
          <i class="material-icons dp48 green-text">perm_identity</i>
          <h6><b>La comunidad</b></h6>
          {#<p>Consectetur minim veniam</p>#}
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m6 l3">
    <a class="black-text" href="{{'blog/categoria'|page({slug:'articulos' })}}">
      <div class="card z-depth-0 grey lighten-3 faq-card">
        <div class="card-content center-align">
          <i class="material-icons dp48 blue-text">content_copy</i>
          <h6><b>Artículos</b></h6>
          {#<p>Consectetur minim veniam</p>#}
        </div>
      </div>
    </a>
  </div>
</div>