[viewBag]
==
<div class="row">
    {#<div class="pt-1 pb-0" id="breadcrumbs-wrapper">
      <!-- Search for small screen-->
      <div class="container">
        <div class="row">
          <div class="col s12 m6 l6">
            <h5 class="breadcrumbs-title">Blog List Page</h5>
          </div>
          <div class="col s12 m6 l6 right-align-md">
            <ol class="breadcrumbs mb-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item"><a href="#">Pages</a>
              </li>
              <li class="breadcrumb-item active">Blog List Page
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>#}
    <div class="col s12">
      <div class="container">
        <div class="section mt-2" id="blog-list">
            <div class="row">
            <!-- Blog Style One -->
            {% set posts = blogPosts.posts %}

               {% for post in posts %}

               <div class="col s12 m6 l4">
                  <div class="card-panel border-radius-6 mt-10 card-animation-1">
                  <a href="{{ 'post'|page({slug: post.slug }) }}"><img class="responsive-img border-radius-8 z-depth-4 image-n-margin" src="{{post.featured_images[0].path}}"
                        alt=""></a>
                  <h6 class="deep-purple-text text-darken-3 mt-5"><a href="{{ 'post'|page({slug: post.slug }) }}">{{post.title}}</a></h6>
                  <span>{{post.excerpt}}</span>
                  
                  <div class="row mt-4">
                     <p class="center-align">
                        <a href="{{ 'post'|page({slug: post.slug }) }}" class="btn waves-effect waves-light gradient-45deg-amber-amber">LEER</a>
                        </p>
                  
                  </div>
                  
                  </div>
               </div>
               {% endfor %}
              
               
            {% if posts.lastPage > 1 %}
               <ul class="pagination">
                  {% if posts.currentPage > 1 %}
                        <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
                  {% endif %}

                  {% for page in 1..posts.lastPage %}
                        <li class="{{ posts.currentPage == page ? 'active' : null }}">
                           <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
                        </li>
                  {% endfor %}

                  {% if posts.lastPage > posts.currentPage %}
                        <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
                  {% endif %}
               </ul>
            {% endif %}
            

            
            </div>
         </div>  
      </div>
   </div>
</div>