[BrandList]

[viewBag]
snippetCode = "brands-home"
snippetName = "Brands home"
==
{% component 'BrandList' %}

{% set obBrandList = BrandList.make().active() %}

{% set arBrandList = obBrandList.all() %}
 <div class="container">
     {% if arBrandList is not empty %}
        {# Render brand list #}
        <div class="owl-carousel brands-carousel">
            {% for obBrand in arBrandList %}
                 <div class="item">
                     <a href="{{'marca'|page({slug:obBrand.slug})}}">
                        <div class="col m12 s12 brand-img z-depth-2" style="background-image: url('{{obBrand.preview_image.path}}');
                        background-position: center; background-size: cover; background-repeat: no-repeat; height: 150px;">

                        </div>
                     </a>
                     {#<img src="{{obBrand.preview_image.thumb(250, 250, {mode:'crop'})}}">#}
                 </div>
            {% endfor %}
        </div>
    
        
    {% endif %}
 </div>