[viewBag]
snippetCode = "last-post"
snippetName = "Last Post Published"
==
<?php
function onStart()
{
  use Rainlab\Blog\Models\Post;
    $this['post'] = Post::isPublished()->orderBy('id', 'desc')->first();
}
?>
==
<div class="row">
    <div class="col s12 m6 l12">
        <div class="card horizontal border-radius-6">
          <div class="card-image">
            <a href="#"><img class="responsive-img" src="{{post.featured_images[0].path}}" alt=""></a>
          </div>
          <div class="card-stacked">
            <div class="card-content pl-7 pt-7 pr-7 pb-7">
                <p class="mb-4 font-weight-900">{{ post.title }}</p>
              <p class="mb-4 hide-on-small-only">{{ str_words(post.summary, 25) }}</p>
            </div>
            <div class="card-action pt-2 pb-3">
              <div class="display-flex">
                <a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-indigo-blue
                     btn  right" href="{{'post'|page({slug:post.slug })}}">
                       VER
                    </a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>