[PromoBlockList]
sorting = "default"

[viewBag]
snippetCode = "promos-card"
snippetName = "Promos"
snippetProperties[codes][title] = "codes"
snippetProperties[codes][type] = "string"
snippetProperties[codes][default] = ""
snippetProperties[codes][options][] = ""
==
<div class="row">

  {% set obPromoBlockList = PromoBlockList.make().active() %}

  {% if obPromoBlockList.count == 2 %}
  {% for promo in obPromoBlockList %}
    <div class="col s12 m6 l6">
      <div class="card horizontal">
        <div class="card-image"><img src="{{promo.preview_image.thumb(250, 250, {mode:'crop'})}}" alt=""></div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="card-title hide-on-small-only">{{promo.name|upper}}</h5>
            <p class="hide-on-small-only">{{promo.preview_text}}</p>
            <h6 class="hide-on-med-and-up">{{promo.name |upper}}</h6>
          </div>
          <div class="card-action">
            <a href="{{'promo'|page({slug: promo.slug})}}" class="waves-effect waves-light btn gradient-45deg-indigo-blue right">VER</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor%}
  {% elseif obPromoBlockList.count > 2 %}

    {% for promo in obPromoBlockList %}

    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-image">
          <img src="{{promo.preview_image.thumb(250, 250, {mode:'crop'})}}" alt=""> 
          <span class="card-title">{{promo.name}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red">
            <i class="material-icons">chevron_right</i>
          </a>
        </div>
        <div class="card-content">
          <p>
            {{promo.preview_text}}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}

  {% endif %}
    

    