[viewBag]
snippetCode = "slider-home"
snippetName = "Slider Home"

[slideshow]
slideshow = 1
numberOfSlide = 5
==
<div class="carousel carousel-slider center" data-indicators="true">
    {% for i, slide in slideshow.slideshow.slides %}
        <div class="carousel-item center valign-wrapper caption-text" 
        style="background-image: url('{{ slide.image.path }}');
        background-repeat: no-repeat; background-size: cover" 
        href="#slide{{loop.index}}!">

        <div class="row caption-text">
                {{slide.description|raw}}
               
                {% if slide.link %}
                    <a class='carousel-caption-link
                    waves-effect waves-light btn red darken-4 z-depth-2
                    ' href='{{ slide.link }}' target='_blank'>
                        IR
                    </a>
                {% endif %}
               
        </div>
                
        </div>
    {% endfor %}
    
    {#<div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>#}
  </div>
  
  {#
  {% if slideshow.slideshow.slides %}
    <div id='slideshow' class='carousel slide' data-ride='carousel' data-interval='3500'>
        <div class='carousel-content'>
            <div class='carousel-inner' role='listbox'>
                {% for i, slide in slideshow.slideshow.slides %}
                    <div class='item{% if loop.first %} active{% endif %}'>
                        <img class='img-responsive' src='{{ slide.image.path }}' alt='{{ slide.image.title }}'>
                        {% if slide.name or slide.description %}
                            <div class='carousel-caption clearfix'>
                                {% if slide.title %}<h4 class='carousel-caption-title'>{{ slide.title }}</h4>{% endif %}
                                {% if slide.description %}<p>{{ slide.description|raw }}</p>{% endif %}
                                {% if slide.link %}<a class='carousel-caption-link' href='{{ slide.link }}' target='_blank'>Learn more</a>{% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <a class='left carousel-control' href='#slideshow' role='button' data-slide='prev'>
                <span class='icon icon-angle-left' aria-hidden='true'></span>
                <span class='sr-only'>Previous</span>
            </a>
            <a class='right carousel-control' href='#slideshow' role='button' data-slide='next'>
                <span class='icon icon-angle-right' aria-hidden='true'></span>
                <span class='sr-only'>Next</span>
            </a>
        </div>

        <ol class='carousel-indicators'>
            {% for i, slide in slideshow.slideshow.slides %}
                <li data-target='#slideshow' data-slide-to='{{ loop.index - 1 }}'{% if loop.first %} class='active'{% endif %}></li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
#}